struct Automaton(required:Automaton)
{
    required list<IOrderSpliter> Spliters;
    required string Type equal Automaton;
    required list<IStrategy> Strategies;
    required list<IInstructionComponent> Components;
    optional string Description default "";
    required uint32 Id;
    required string Name;
};

