<tr id="{{ struct[0] }}{{ listType }}" style="display: none">
    <td>
        <table class="jsoneditor-value" style="border-collapse: collapse;margin-left: 48px">
            <tbody>
            {% for listName,listRAT in listmember.member.items()%}
                <tr class="jsoneditor-tree" onmouseover="shadowover(this)" onmouseout="shadowout(this)">
                   <td class="jsoneditor-tree">
                       <button class="jsoneditor-invisible" title=""></button>
                   </td>
                    <td>
                        {% if listRAT == "required" %}
                        <span style="color: red">*</span>
                        {% endif %}
                    </td>
                    <td>
                        <div class="jsoneditor-readonly" id="m{{ struct[0] }}{{ listName }}" title="{{ listRAT }}">{{ listName }}</div>
                    </td>
                    <td class="jsoneditor-separator">:</td>
                    <td class="jsoneditor-tree">
                        <div id="{{ struct[0] }}{{ listName }}" class="jsoneditor-value jsoneditor-number" contenteditable="true" spellcheck="false"></div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </td>
</tr>
