<tr>
{#     <td>#}
{#        <button title="Drag to move this field (Alt+Shift+Arrows)" class="jsoneditor-dragarea"></button>#}
{#    </td>#}
    <td>
        <table class="jsoneditor-value" style="border-collapse: collapse;margin-left: 48px">
            <tbody>
            {% for i in range(3) %}
            <tr>
               <td class="jsoneditor-tree">
                   <button class="jsoneditor-invisible" title=""></button>
               </td>
                <td class="jsoneditor-tree">
                    <div class="jsoneditor-readonly">
                        {{ i }}
                    </div>
                </td>
                <td class="jsoneditor-separator">:</td>
                <td class="jsoneditor-tree">
                    <div class="jsoneditor-value jsoneditor-number" contenteditable="true" spellcheck="false">
                        {{ 3.14*i*i }}
                    </div>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </td>
</tr>
