<tr class="jsoneditor-expandable" title="array">
    <td >
        <table class="jsoneditor-value" style="border-collapse: collapse;margin-left: 24px">
            <tbody>
            <tr>
                <td class="jsoneditor-tree">
                    <button class="jsoneditor-collapsed" onclick="collapsewin('{{ StructCnt }}{{ struct[0] }}{{ listType }}')">^</button>
                </td>
                <td class="jsoneditor-tree">
                    <div class="jsoneditor-readonly" >{{ listType }}</div>
                </td>
                <td class="jsoneditor-tree"></td>
                <td class="jsoneditor-tree">
                    <div class="jsoneditor-value jsoneditor-array">{{ listmember.len }}</div>
                </td>
            </tr>
            </tbody>
        </table>
    </td>
</tr>
{% include "arraychild.html" %}

