<tr>
    <td onmouseover="shadowover(this)" onmouseout="shadowout(this)">
        <table class="jsoneditor-value" style="border-collapse: collapse; margin-left: 24px">
            <tbody>
            <tr>
                <td class="jsoneditor-tree">
                    <button class="jsoneditor-invisible" title=""></button>
                </td>
                <td class="jsoneditor-tree">
                    <div class="jsoneditor-readonly" title="{{ boolRAT[1] }}">{{ boolName }}</div>
                </td>
                <td class="jsoneditor-separator"></td>
                <td class="jsoneditor-tree">
                    <input type="checkbox" id="m{{ struct[0] }}{{ boolName }}" onclick="get_chekbox_value('m{{ struct[0] }}{{ boolName }}','{{ struct[0] }}{{ boolName }}')"/>
                </td>
                <td class="jsoneditor-tree">
                    <div class="jsoneditor-value jsoneditor-boolean" contenteditable="true" spellcheck="false" title="" id="{{ struct[0] }}{{ boolName }}">false</div>
                </td>
            </tr>
            </tbody>
        </table>
    </td>
</tr>