<tr id="{{ StructName }}bool" style="display: block">
    <td>
        {% if varReq == "required" %}
            <span style="color: red">*</span>
        {% endif %}
    </td>
    <td class="jsoneditor-readonly">{{ varName }}</td>
    <td class="jsoneditor-tree">
        <input type="checkbox" value="0" id="m{{ StructName }}{{ varName }}"
               onclick="get_chekbox_value('m{{ StructName }}{{ varName }}','{{ StructName }}{{ varName }}')"/>
    </td>
    <td class="jsoneditor-readonly jsoneditor-boolean" style="color: deepskyblue" >{{ varDefault }}</td>
</tr>