<tr id="{{ StructCnt }}{{ struct[0] }}bool" style="display: block">
    <td>
        <table class="jsoneditor-value" style="border-collapse: collapse; margin-left: 0px">
            <tbody>
            {% for boolName,boolVAR in struct[1]["bool"].items() %}
                {% set blRAT=boolVAR[0] %}
                {% set blVal=boolVAR[3] %}
                <tr class="jsoneditor-tree" onmouseover="shadowover(this)" onmouseout="shadowout(this)">
                    <td class="jsoneditor-tree">
                        <button class="jsoneditor-invisible" title=""></button>
                    </td>
                    <td>
                        {% if boolRAT == "required" %}
                            <span style="color: red">*</span>
                        {% endif %}
                    </td>
                    <td class="jsoneditor-tree">
                        <div class="jsoneditor-readonly" title="{{ boolRAT }}">{{ boolName }}</div>
                    </td>
                    <td class="jsoneditor-tree">
                        <input type="checkbox" value="0" id="m{{ StructCnt }}{{ struct[0] }}{{ boolName }}"
                               onclick="get_chekbox_value('m{{ StructCnt }}{{ struct[0] }}{{ boolName }}','{{ StructCnt }}{{ struct[0] }}{{ boolName }}');
                                       showJson('{{ StructCnt }}','{{ StructCnt }}{{ struct[0] }}showjsondiv')" />
                    </td>
                    <td class="jsoneditor-tree">
                        <div class="jsoneditor-readonly jsoneditor-boolean"  id="{{ StructCnt }}{{ struct[0] }}{{ boolName }}">{{ blVal }}</div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </td>
</tr>