
<tr>
{#     <td>#}
{#        <button title="Drag to move this field (Alt+Shift+Arrows)" class="jsoneditor-dragarea"></button>#}
{#    </td>#}
    <td>
        <table class="jsoneditor-value" style="border-collapse: collapse; margin-left: 24px">
            <tbody>
            <tr>
                <td class="jsoneditor-tree">
                    <button class="jsoneditor-invisible" title=""></button>
                </td>
                <td class="jsoneditor-tree">
                    <div class="jsoneditor-readonly" >
                        BOOLEAN
                    </div>
                </td>
                <td class="jsoneditor-separator"></td>
                <td class="jsoneditor-tree">
                    <input type="checkbox" id="check" onclick="get_chekbox_value('check','check1')"/>
                </td>
                <td class="jsoneditor-tree">
                    <div class="jsoneditor-value jsoneditor-boolean"contenteditable="true" spellcheck="false" title="" id="check1">False</div>
                </td>
            </tr>
            </tbody>
        </table>
    </td>
</tr>