<tr id="{{ StructName }}double" style="display: block" onmouseover="shadowover(this)" onmouseout="shadowout(this)">
    <td>
        {% if varReq == "required" %}
            <span style="color: red">*</span>
        {% endif %}
    </td>
    <td class="jsoneditor-readonly jsoneditor-value"  id="m{{ StructName }}{{ varName }}">{{ varName }}</td>
    <td>: </td>
    <td class="jsoneditor-value jsoneditor-number" contenteditable="true" spellcheck="false"  id="{{ StructName }}{{ varName }}">{{ varDefault }}</td>
</tr>
