<div>
    <div class="jsoneditor jsoneditor-modes-tree" >
        <div class="jsoneditor-tree" >
            <table id="oTable" width="100%">
                <tbody>
                <tr>
                    <td>{% include 'selectType.html' %}</td>
                    <td><button style="font-size: 20px;width: 80px;height: 41px"  onclick="clearObj({{ StructName }})" >Clear</button></td>
                </tr>
                {% for StructName,StructInfo in StrategyDict.items() %}
                    <tr><td>{% include 'SelectTypeUnit.html' %}</td></tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
