<div>
    <div class="jsoneditor jsoneditor-modes-tree">
        <div>
            <div class="jsoneditor-tree">
                {% for struct in JsonDict %}
                <table class="jsoneditor-tree">
                    <tbody>
                    {% include 'header.html' %}
                    </tbody>
                </table>
                <table id="{{ struct[0] }}" style="display: none">
                    <tbody>
                    {% for listType,listmember in struct[1]["list"].member.items() %}
                        {% include 'array.html' %}
                    {% endfor %}
                    {% include "bool.html" %}
                    {% include "uint32.html" %}
                    {% include "sint32.html" %}
                    {% include "double.html" %}
                    {% include "string.html" %}
                    {% include 'null.html' %}
                    {% include 'matrix.html' %}
                    </tbody>
                </table>
            {% endfor %}
            </div>
        </div>
    </div>
</div>
