<tr id="{{ StructName }}{{ varName }}">
    <td>
        {% if varReq == "required" %}
            <span style="color: red">*</span>
        {% endif %}
        <span onmouseover="shadowover(this)" onmouseout="shadowout(this)">{{ varName }} </span>
        <select id="{{ StructName }}{{varName }}select"  style=" width: auto" >
            {% set enumFieldsVar = StructInfo[varType].Fields %}
            {% for enumVarName in enumFieldsVar %}
                <option value="{{ enumVarName }}">{{ enumVarName }}</option>
            {% endfor %}
        </select>
    <td id="m{{ StructName }}{{varName }}" style="display: none">{{ varName }}</td>
</tr>


