<tr class="jsoneditor-expandable" title="big tree">
    <td>
        <table class="jsoneditor-value" style="border-collapse: collapse; margin-left: 0px;">
            <tbody>
            <tr>
                <td class="jsoneditor-tree">
                    <button onclick="collapsewin('{{ struct[0] }}')" >^</button>
                </td>
                <td class="jsoneditor-tree">
                    <div class="jsoneditor-readonly">{{ struct[0] }}</div>
                </td>
                <td class="jsoneditor-tree"></td>
                <td class="jsoneditor-tree">
                    <div class="jsoneditor-value jsoneditor-object" >{{ struct[2] }}</div>
                </td>
            </tr>
            </tbody>
        </table>
    </td>
</tr>