<tr class="jsoneditor-expandable" title="big tree">
    <td>
        <table class="jsoneditor-value" style="border-collapse: collapse; margin-left: 0px;">
            <tbody>
            <tr>
                <td class="jsoneditor-tree">
                    <button class="jsoneditor-collapsed" title="Click to expand/Collapse this field (ctrl-E).Ctrl+Click to expand/collapse including all childs."></button>
                </td>
                <td class="jsoneditor-tree">
                    <div class="jsoneditor-readonly">StructA</div>
                </td>
                <td class="jsoneditor-tree"></td>
                <td class="jsoneditor-tree">
                    <div class="jsoneditor-value jsoneditor-object" title="Templates containing 6 items">
                        {6}
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </td>
</tr>