<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>DFC</title>
    <meta name="description" content="DFC"/>
      <meta name="viewport" content="width=1000, initial-scale=1.0, maximum-scale=1.0">
    <!-- Loading Bootstrap -->
      <link href="../static/css/tipstyle.css" rel="stylesheet">
      <link href="../static/css/jsonedit.css" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="../static/css/jquery.multiselect.css" />
      <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
      <link rel="stylesheet" type="text/css" href="../static/css/prettify.css" />
      <link rel="stylesheet" type="text/css" href="../static/css/jquery-ui.css" />
      <link type="text/css" rel="stylesheet" href="../static/css/bootstrap.min.css" >
      <link href="../static/css/jquery.webui-popover.min.css" rel="stylesheet">
      <script type="text/javascript" src="../static/js/jquery.min.js"></script>
      <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="../static/js/jquery-ui.js"></script>
      <script type="text/javascript" src="../static/js/jquery.ui.core.js"></script>
      <script type="text/javascript" src="../static/js/jquery.ui.widget.js"></script>
      <script type="text/javascript" src="../static/js/prettify.js"></script>
      <script type="text/javascript" src="../static/js/jquery.multiselect.js"></script>
      <script type="text/javascript" src="../static/js/mejs.js"></script>
      <script type="text/javascript" src="../static/js/tooltip.js"></script>
  </head>
  <body onload="prettyPrint()">
  <div id="wrapper">
	<h1>Example of simple jQuery tooltip<span class="toolTip" title="This is a simple tooltip made with jQuery">&nbsp;</span></h1>

	<p>The HTML side of the tooltip is nothing but an span tag and the class 'toolTip' added along with a title attribute. The JavaScript pulls the text out of the title attribute in the span and dumps it in the tooltip bubble. In this example I am using a span, but this will work in pretty much any HTML tag with the specified class and a title attribute. Check out the live example below:</p>

    <p>What is this?<span class="toolTip" title="This is a tooltip. :)"></span></p>

    <p>You can also leave text out of the span tag and just the help icon will apear (Be sure to use a non breaking space when there is no text). It is an inline element so you can place it anywhere like this: <span class="toolTip" title="Tooltip with just the icon">&nbsp;</span></p>

    <p>This has been tested and works in Firefox, IE7, IE6, Opera 9.23 and Safari 3.0.4 on Windows XP. There are a couple little annoying issues with IE6 but nothing I felt like stressing over. Older browsers will probably have issues but will work for well over 90% of internet users.</p>


    <p>Send me a line if you have any suggestions <a href="mailt:jon@3nhanced.com">jon@3nhanced.com</a></p>
  More script and css style
: <a href="http://www.html580.com/" title="HTML DRIVE - Free DHMTL Scripts,Jquery plugins,Javascript,CSS,CSS3,Html5 Library">www.html580.com </a>
</div>
  <div><p>sfsdff<span class="toolTip"></span></p></div>

    <div class="container">

        <h1 class="demo-logo">
          DFC tech.

        </h1>
          <div id="JsonDict" style="display: none">{{ JsonDict }}</div>
          {% set StrategyDict = JsonDict|jsontoObj %}
        <div style="width: 100%">
            <select id="StrategyJsonToCodeSelect" onchange="treeToCode('StrategyJsonToCodeSelect')" style="width: 200px;height: 40px;">
                {% with %}
                    {% for e in StrategyDict %}
                        <option value="{{ e }}">{{ e }}</option>
                    {% endfor %}
                {% endwith %}
            </select>
            <div class="col-sm-12">
                {% include 'editJson.html' %}
            </div>
        </div>
    </div>
  </body>
</html>
