<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>DFC</title>
    <meta name="description" content="DFC"/>
      <meta name="viewport" content="width=1000, initial-scale=1.0, maximum-scale=1.0">
    <!-- Loading Bootstrap -->
      <link href="../static/css/jsonedit.css" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="../static/css/jquery.multiselect.css" />
      <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
      <link rel="stylesheet" type="text/css" href="../static/css/prettify.css" />
      <link rel="stylesheet" type="text/css" href="../static/css/jquery-ui.css" />
      <link type="text/css" rel="stylesheet" href="../static/css/bootstrap.min.css" >
      <link href="../static/css/jquery.webui-popover.min.css" rel="stylesheet">

      <script type="text/javascript" src="../static/js/jquery.min.js"></script>
      <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="../static/js/jquery-ui.js"></script>
      <script type="text/javascript" src="../static/js/jquery.ui.core.js"></script>
      <script type="text/javascript" src="../static/js/jquery.ui.widget.js"></script>
      <script type="text/javascript" src="../static/js/prettify.js"></script>
      <script type="text/javascript" src="../static/js/jquery.multiselect.js"></script>
      <script type="text/javascript" src="../static/js/jquery.tips.js"></script>
      <script type="text/javascript" src="../static/js/baseFunctions.js"></script>
      <script type="text/javascript" src="../static/js/MouseSelectCopyandPaste.js"></script>
      <script type="text/javascript" src="../static/js/jsoncsv.editor.js"></script>
      <script type="text/javascript" src="../static/js/main.js" ></script>


  </head>
  <body onload="app.load()" >
    <div class="container">
        <h1 class="demo-logo">DFC tech.</h1>
          <div id="JsonDict" style="display: none">{{ JsonDict }}</div>
          {% set StrategyDict = JsonDict|jsontoObj %}
        <div style="width: 100%">
            <select id="StrategyJsonToCodeSelect" onchange="treeToCode('StrategyJsonToCodeSelect');" style="width: 200px;height: 40px;">
                {% with %}
                    {% for e in StrategyDict %}
                        <option value="{{ e }}">{{ e }}</option>
                    {% endfor %}
                {% endwith %}
            </select>
            <div class="col-sm-12" id="loadlog" ></div>
        </div>
    </div>

  </body>

</html>
