<table style="margin-left: 40px" id="{{ StructName }}{{ varName }}csv">
    <tbody>
    {% set listFieldsVar = StructInfo[listTypeName].Fields %}
    {% with %}
        <tr style="display: none">
            {% for listVarName in listFieldsVar%}
                <th>{{ listVarName }}</th>
            {% endfor %}
        </tr>
    {% endwith %}
    <tr style="height: 30px">
        {% for listVarName in listFieldsVar%}
            {% set listVarType=listFieldsVar[listVarName].Type %}
            {% set listVarReq=listFieldsVar[listVarName].Requiredness %}
            {% set listVarIsFixed=listFieldsVar[listVarName].IsFixed %}
            {% set listVarDefault=listFieldsVar[listVarName].Default %}
            {% set listVarReference=listFieldsVar[listVarName].Reference %}
            <th style="text-align: center">
                {% if listVarReq == "required" %}
                    <div > <span style="color: red">*</span>{{ listVarName }} </div>
                {% else %}
                    <div> {{ listVarName }} </div>
                {% endif %}
            </th>

        {% endfor %}
        <th style="border-right: solid transparent"></th>
    </tr>
    <tr>
        {% for i in range(listFieldsVar|length) %}
            <td id="{{ StructName }}{{ varName }}csv{{ i }}" class="jsoneditor-value jsoneditor-number jsoneditor-listinput" contenteditable="true" spellcheck="false"></td>
        {% endfor %}
        <td>
            <button style="width: 75px;" onclick="csvAddrow('{{ StructName }}','{{ varName }}','csv')" >Add</button>
        </td>
    </tr>
    </tbody>
</table>