<tr id="{{ StructName }}{{ varName }}" style="display: block">
    <td>
        <table class="jsoneditor-value" style="border-collapse: collapse;margin-left: 30px">
            <tbody>
            {% with %}
            {% set listFieldsVar = StructInfo[listTypeName].Fields %}
            {% for listVarName in listFieldsVar %}
                {% set listVarType=listFieldsVar[listVarName].Type %}
                {% set listVarReq=listFieldsVar[listVarName].Requiredness %}
                {% set listVarIsFixed=listFieldsVar[listVarName].IsFixed %}
                {% set listVarDefault=listFieldsVar[listVarName].Default %}
                {% set listVarReference=listFieldsVar[listVarName].Reference %}
                <tr class="jsoneditor-tree" onmouseover="shadowover(this)" onmouseout="shadowout(this)">
                    <td>
                        {% if listVarReq == "required" %}
                            <div class="jsoneditor-readonly" id="m{{ StructName }}{{ varName }}{{ listVarName }}" ><span style="color: red">*</span>{{ listVarName }}: </div>
                        {% else %}
                            <div class="jsoneditor-readonly" id="m{{ StructCnt }}{{ struct[0] }}{{ listName }}{{ listVarName }}">{{ listVarName }}: </div>
                        {% endif %}
                    </td>
                    <td class="jsoneditor-tree">
                        <div id="{{ StructName }}{{ varName }}{{ listVarName }}" class="jsoneditor-value jsoneditor-number" contenteditable="true" spellcheck="false">{{ listVarDefault }}</div>
                    </td>
                </tr>
            {% endfor %}
            {% endwith %}
            </tbody>
        </table>
    {% include 'listTable.html' %}
    </td>
</tr>
