<tr >
    {% if varReq=="required" %}
        <td class="jsoneditor-readonly jsoneditor-value" onmouseover="shadowover(this)" onmouseout="shadowout(this)"><span style="color: red">*</span>{{ varName }} [{{ matDim[0] }}x{{ matDim[1] }}]</td>
    {% else %}
        <td onmouseover="shadowover(this)" onmouseout="shadowout(this)" class="jsoneditor-readonly jsoneditor-value" >{{ varName }} [{{ matDim[0] }}x{{ matDim[1] }}]</td>
    {% endif %}
    <td style="display: none">{{ varName }}</td>
</tr>
<tr>
    <td>
        <table border="1" id="{{ StructName }}{{ varName }}matrix" style="margin-left: 40px">
            <tbody>
            {% for matrow in range(matDim[0]) %}
                <tr style="height: 30px;">
                {% for matCol in range(matDim[1])%}
                    <td contenteditable="true" style="background-color: #5bc0de;width: 100px;" spellcheck="false" class="jsoneditor-value jsoneditor-number"></td>
                {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </td>
</tr>