<tr title="array" >
{#    <td>#}
{#        <button title="Drag to move this field (Alt+Shift+Arrows)" class="jsoneditor-dragarea"></button>#}
{#    </td>#}
    <td >
        <table class="jsoneditor-value" style="border-collapse: collapse;margin-left: 24px">
            <tbody>
            <tr>
                <td class="jsoneditor-tree">
                    <button  onclick="collapsewin('matrixchild1')" title="Click to expand/Collapse this field (Ctrl+E). Ctrl+click to expand/collapse including all childs.">^</button>
                </td>
                <td class="jsoneditor-tree" onmouseover="shadowover(this)" onmouseout="shadowout(this)">
                    <div class="jsoneditor-readonly" >
                    Matrix[4x5]
                    </div>
                </td>
                <td class="jsoneditor-tree"></td>
                <td class="jsoneditor-tree">
                    <div class="jsoneditor-value jsoneditor-array" title="array containing 3 items"></div>
                </td>
            </tr>
            </tbody>
        </table>
    </td>
</tr>
{% include "matrixchild.html" %}
