<tr>
{#     <td>#}
{#        <button title="Drag to move this field (Alt+Shift+Arrows)" class="jsoneditor-dragarea"></button>#}
{#    </td>#}
    <td>
        <table class="jsoneditor-value" style="border-collapse: collapse;margin-left: 48px">
            <tbody>
            {% for j in range(4) %}
            <tr>
                {% for i in range(5) %}
               <td class="jsoneditor-tree">
                   <button class="jsoneditor-invisible" title=""></button>
               </td>
                <td class="jsoneditor-tree">
                    <div class="jsoneditor-value jsoneditor-number" contenteditable="true" spellcheck="false">{{ j*i+i }}</div>
                </td>
                {% endfor %}
            </tr>

            {% endfor %}
            </tbody>
        </table>
    </td>
</tr>