<tr class="" >
    <td onmouseover="shadowover(this)" onmouseout="shadowout(this)">
        <table class="jsoneditor-value" style="border-collapse: collapse;margin-left: 24px;">
            <tbody>
            <tr>
                <td class="jsoneditor-tree">
                    <button class="jsoneditor-invisible" title=""></button>
                </td>
                <td class="jsoneditor-tree">
                    <td class="jsoneditor-tree">

                    <div class="jsoneditor-readonly">
                        null
                    </div>
                </td>
                <td class="jsoneditor-separator">:</td>
                <td class="jsoneditor-tree">
                    <div class="jsoneditor-value jsoneditor-null" contenteditable="true" spellcheck="false" title="">
                        null
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </td>
</tr>
