<tr>
    <td onmouseover="shadowover(this)" onmouseout="shadowout(this)">
        <table class="jsoneditor-value" style="border-collapse: collapse;margin-left: 24px">
            <tbody>
            <tr>
                <td class="jsoneditor-tree">
                    <button class="jsoneditor-invisible"></button>
                </td>
                <td class="jsoneditor-tree">
                    <div class="jsoneditor-readonly" title="{{ numRAT[1] }}" id="m{{ struct[0] }}{{ numName }}">{{ numName }}</div>
                </td>
                <td class="jsoneditor-separator">:</td>
                <td class="jsoneditor-tree">
                    <div class="jsoneditor-value jsoneditor-number" contenteditable="true" spellcheck="false" title="" id="{{ struct[0] }}{{ numName }}"></div>
                </td>
            </tr>
            </tbody>
        </table>
    </td>
</tr>