
<table id="{{ StructName }}" style="display: none;margin-left: 40px" >
    <tbody>
    {% set FieldsVar = StructInfo[StructName].Fields %}
    {% for varName in FieldsVar %}
        {% set varType=FieldsVar[varName].Type %}
        {% set varReq=FieldsVar[varName].Requiredness %}
        {% set varIsFixed=FieldsVar[varName].IsFixed %}
        {% set varDefault=FieldsVar[varName].Default %}
        {% set varReference=FieldsVar[varName].Reference %}
        {% if varType=="sint32" or varType=="uint32" or varType=="double"%}
            {% include 'double.html' %}
        {% elif varType=="string"%}
            {% include 'string.html' %}
        {% elif "::" in varType %}
            {% include 'enum.html' %}
        {% elif "list<" in varType %}
            {% set listTypeName=varType|getListTypeName %}
            {% include 'list.html' %}
        {% elif "mat<" in varType or "vec<" in varType%}
            {% set matDim=varType|getDim %}
            {% include "matrix.html" %}
        {% elif varType == "bool"%}
            {% include 'bool.html' %}
        {% endif %}
    {% endfor %}
    </tbody>
</table>
