<div style="display: none" id="StructNameJson">{{ StructNameJson }}</div>
{% include 'selectType.html' %}
{% for struct in JsonDict %}
    <div id="{{ struct[0] }}jsoncodeid" style="display: none">{{ struct[3] }}</div>
    <div onkeyup="showJson('{{ struct[0] }}jsoncodeid','{{ StructCnt }}{{ struct[0] }}showjsondiv')" >
        <table id="{{ StructCnt }}{{ struct[0] }}" style="display: block">
            <tbody>
            {% if struct[1]["string"].len %}
                {% include "string.html" %}
            {% endif %}
            {% for listType,listmember in struct[1]["list"].member.items() %}
                {% if listmember.len !=0 %}
                    {% include 'array.html' %}
                {% endif %}
            {% endfor %}
            {% if struct[1]["bool"].len != 0%}
                {% include "bool.html" %}
            {% endif %}
            {% if struct[1]["uint32"].len %}
                {% include "uint32.html" %}
            {% endif %}
            {% if struct[1]["sint32"].len %}
                {% include "sint32.html" %}
            {% endif %}
            {% if struct[1]["double"].len %}
                {% include "double.html" %}
            {% endif %}
            {% for otherName,otherRAT in struct[1]["other"].member.items() %}
                {% include 'other.html' %}
            {% endfor %}
            {% include 'matrix.html' %}
            </tbody>
        </table>
    </div>
{% endfor %}