<div>
    <div class="jsoneditor jsoneditor-modes-tree">
        <div>
            <div class="jsoneditor-tree">

                {% for showstruct in JsonDict %}
                    <div id="{{ showstruct[0] }}ShowJsonWin" style="display: none">
                        <div>
                            <button onclick="showJson('{{ showstruct[0] }}jsoncodeid','{{ showstruct[0]}}showjsondiv')" class="btn-block btn">Json</button>
                        </div>
                        <div id="{{ showstruct[0] }}showjsondiv"></div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>