<div>
    <div class="jsoneditor jsoneditor-modes-tree">
        <div>
            <div class="jsoneditor-tree">
            {% for showCnt in range(StructNameList[0]) %}
                {% for showstruct in JsonDict %}
                    <div id="{{ showCnt }}{{ showstruct[0] }}ShowJsonWin" style="display: none">
                        <div>
                            <button onclick="showJson({{ showCnt }},'{{ showCnt }}{{ showstruct[0] }}jsoncodeid','{{ showCnt }}{{ showstruct[0]}}showjsondiv')" class="btn-block btn">Json</button>
                        </div>
                        <div id="{{ showCnt }}{{ showstruct[0] }}showjsondiv"></div>
                    </div>
                {% endfor %}
            {% endfor %}
            </div>
        </div>
    </div>
</div>