<tr id="{{ struct[0] }}sint32" style="display: none">
    <td>
        <table class="jsoneditor-value" style="border-collapse: collapse;margin-left: 48px">
            <tbody>
            {% for sintName,sintRAT in struct[1]["sint32"].member.items() %}
            <tr class="jsoneditor-tree" onmouseover="shadowover(this)" onmouseout="shadowout(this)">
                <td class="jsoneditor-tree">
                    <button class="jsoneditor-invisible"></button>
                </td>
                <td class="jsoneditor-tree">
                    <div class="jsoneditor-readonly" title="{{ sintRAT }}" id="m{{ struct[0] }}{{ sintName }}">{{ sintName }}</div>
                </td>
                <td class="jsoneditor-separator">:</td>
                <td class="jsoneditor-tree">
                    <div class="jsoneditor-value jsoneditor-number" contenteditable="true" spellcheck="false" title="" id="{{ struct[0] }}{{ sintName }}"></div>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </td>
</tr>