<tr>

    <td onmouseover="shadowover(this)" onmouseout="shadowout(this)">
        <table class="jsoneditor-value" style="border-collapse: collapse;margin-left: 24px">
            <tbody>
            <tr>
                <td class="jsoneditor-tree">
                    <button class="jsoneditor-invisible"></button>
                </td>
                <td class="jsoneditor-tree">
                    <div class="jsoneditor-readonly" title="{{ strRAT[1] }}" id="m{{ struct[0] }}{{ strName }}">{{ strName }}</div>
                </td>
                <td class="jsoneditor-separator">:</td>
                <td class="jsoneditor-tree">
                    <div id="{{ struct[0] }}{{ strName }}" class="jsoneditor-value jsoneditor-string" contenteditable="true" spellcheck="false" title=""></div>
                </td>
            </tr>
            </tbody>
        </table>
    </td>
</tr>