<tr id="{{ StructName }}double" style="display: block" onmouseover="shadowover(this)" onmouseout="shadowout(this)">
    <td>
        {% if varReq == "required" %}
            <span style="color: red">*</span>
        {% endif %}
    </td>
    <td class="jsoneditor-tree">
        <div class="jsoneditor-readonly"  id="m{{ StructName }}{{ varName }}">{{ varName }}: </div>
    </td>
    <td class="jsoneditor-tree">
        <div class="jsoneditor-value jsoneditor-string" contenteditable="true" spellcheck="false"  id="{{ StructName }}{{ varName }}">{{ varDefault }}</div>
    </td>
</tr>