<tr>
{#     <td>#}
{#        <button title="Drag to move this field (Alt+Shift+Arrows)" class="jsoneditor-dragarea"></button>#}
{#    </td>#}
    <td>
        <table class="jsoneditor-value" style="border-collapse: collapse;margin-left: 24px">
            <tbody>
            <tr>
                <td class="jsoneditor-tree">
                    <button class="jsoneditor-invisible"></button>
                </td>
                <td class="jsoneditor-tree">
                    <div class="jsoneditor-readonly">
                        String
                    </div>
                </td>
                <td class="jsoneditor-separator">:</td>
                <td class="jsoneditor-tree">
                    <div id="{{ i }}" class="jsoneditor-value jsoneditor-string" contenteditable="true" spellcheck="false" title="">
                        weijiayun
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </td>
</tr>