
<table id="tb" border="2">
    <tbody>
        <tr>
            <th>head1</th><th>head2</th>
        </tr>
        <tr>
            <th>head1</th><th>head2</th>
        </tr>
        <tr>
            <td>da11</td><td>da12</td>
        </tr>
        <tr>
            <td>da21</td><td>da22</td>
        </tr>
</table>
<script>
    function f()
    {
        var t=document.getElementById("tb");
        alert(t.rows[1].cells[1].innerHTML);
        for(var i=0;i< t.rows.length;i++)
        {
            for(var j=0;j<t.rows[i].cells.length;j++)
            {
                alert(t.rows[i].cells[j].innerHTML);
            }
        }
    }
    function f1()
    {
        var t=document.getElementById("tb");
        alert(t[1].length);
        for(var i=0;i< t.childNodes.length;i++)
        {
            for(var j=0;j<t.childNodes(i).childNodes.length;j++)
            {
                alert(t.childNodes(i).childNodes(j).innerText);
            }
        }
    }
    function f2() {
        var t=document.getElementById("tb");
    }
</script>
<button style="width: auto;" onclick="f()">click</button>
