
<!DOCTYPE html>
<html>
<head>
   <title>Bootstrap Dropdowns</title>
   <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/jquery.webui-popover.min.css" rel="stylesheet">
   <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
   <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</head>
<body>
<h3 id="headid"></h3>
<div class="dropdown">
   <button type="button" class="btn dropdown-toggle btn-primary" id="dropdownMenu1"
      data-toggle="dropdown">
      theme
      <span class="caret"></span>
   </button>
   <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1" >
      <li role="presentation">
         <a role="menuitem" href="#" onclick="returnval(this)" name="Java">Java</a>
      </li>
      <li role="presentation">
         <a role="menuitem" tabindex="-1" href="#" onclick="returnval(this)" name="data mining">data mining</a>
      </li>
      <li role="presentation">
         <a role="menuitem" tabindex="-1" href="#" onclick="returnval(this)" name="data transp">
             data transportation
         </a>
      </li>
      <li role="presentation" class="divider"></li>
      <li role="presentation">
          <a role="menuitem" tabindex="-1" href="#" name="sepatated link" onclick="returnval(this)">
              <div class="webui-popover right in" id="webuiPopover89" style="display: block; width: 224px;position: relative">
                  <div class="arrow"></div>
                  <div class="webui-popover-inner">
                      <div class="webui-popover-content">
                          <ul>
                          </ul>
                      </div>
                  </div>
              </div>
          </a>
      </li>
   </ul>
</div>
<script type="text/javascript">
    function getRowObj(obj)
    {   var i = 0;   
        while(obj.tagName.toLowerCase() != "tr")
        {    obj = obj.parentNode;    
            if(obj.tagName.toLowerCase() == "table")
                return null;   
        }   
        return obj;
    }
function handleEnter (field, event) {
    var keyCode = event.keyCode ? event.keyCode : event.which ? event.which : event.charCode;
    if (keyCode == 13) {
        var colIndex;
        var rowIndex;
        var tb = field.parentNode.parentNode.parentNode;

        tb.rows[1].cells[1].focus();
        return false;
    }
    else
        return true;
}
</script>
<table border="2px">
    <tbody>
    <tr>
        <td contenteditable="true" onkeypress="handleEnter(this,event)" style="width: 50px;height: 40px;background-color: #00a1cb"></td>
        <td contenteditable="true" onkeypress="handleEnter(this,event)" style="width: 50px;height: 40px;background-color: #00a1cb"></td>
        <td contenteditable="true" onkeypress="handleEnter(this,event)" style="width: 50px;height: 40px;background-color: #00a1cb"></td>
        <td contenteditable="true" onkeypress="handleEnter(this,event)" style="width: 50px;height: 40px;background-color: #00a1cb"></td>
    </tr>
        <tr>
        <td contenteditable="true" onkeypress="handleEnter(this,event)" style="width: 50px;height: 40px;background-color: #00a1cb"></td>
        <td contenteditable="true" onkeypress="handleEnter(this,event)" style="width: 50px;height: 40px;background-color: #00a1cb"></td>
        <td contenteditable="true" onkeypress="handleEnter(this,event)" style="width: 50px;height: 40px;background-color: #00a1cb"></td>
        <td contenteditable="true" onkeypress="handleEnter(this,event)" style="width: 50px;height: 40px;background-color: #00a1cb"></td>
    </tr>
        <tr>
        <td contenteditable="true" onkeypress="handleEnter(this,event)" style="width: 50px;height: 40px;background-color: #00a1cb"></td>
        <td contenteditable="true" onkeypress="handleEnter(this,event)" style="width: 50px;height: 40px;background-color: #00a1cb"></td>
        <td contenteditable="true" onkeypress="handleEnter(this,event)" style="width: 50px;height: 40px;background-color: #00a1cb"></td>
        <td contenteditable="true" onkeypress="handleEnter(this,event)" style="width: 50px;height: 40px;background-color: #00a1cb"></td>
    </tr>
        <tr>
        <td contenteditable="true" onkeypress="handleEnter(this,event)" style="width: 50px;height: 40px;background-color: #00a1cb"></td>
        <td contenteditable="true" onkeypress="handleEnter(this,event)" style="width: 50px;height: 40px;background-color: #00a1cb"></td>
        <td contenteditable="true" onkeypress="handleEnter(this,event)" style="width: 50px;height: 40px;background-color: #00a1cb"></td>
        <td contenteditable="true" onkeypress="handleEnter(this,event)" style="width: 50px;height: 40px;background-color: #00a1cb"></td>
    </tr>
    </tbody>
</table>
<form>




</body>
</html>