<html>
<head>
    <title>title</title>
<script type="text/javascript">
    function delIndex(obj) {
        var rowIndex = obj.parentNode.parentNode.rowIndex;//获得行下标
        var tableID = obj.parentElement.parentElement.parentElement.parentElement.id;
        alert(tableID);
        alert(rowIndex);
        var tb = document.getElementById(tableID);
        tb.deleteRow(rowIndex);//del当前行
        add(rowIndex);//在当前行插入一行
    }
    function add(rowIndex) {
        var tb = document.getElementById("tb");
        if (rowIndex == "-1") {
            rowIndex = tb.rows.length;//默认在末尾插入一行
        }
        var row = tb.insertRow(rowIndex);//在表格的指定插入一行
        var c1 = row.insertCell(0);
        c1.innerHTML = "new" + rowIndex;
        var c2 = row.insertCell(1);
        c2.innerHTML = '<a href="javascript:void(0)" onclick="delIndex(this)">del</a>';
    }
</script>
</head>
<body>
<input type="button" value="add" onclick="add('-1')" ><input type="button" value="del" onclick="del()" />
    <table id="tb">
        <tbody>
    <tr><td>1</td><td id="weijiayun1"><a id="sdfsdfsdf" href="javascript:void(0)" onclick="delIndex(this)">del</a></td></tr>
    <tr><td>2</td><td><a href="javascript:void(0)" onclick="delIndex(this)">del</a></td></tr>
    <tr><td>3</td><td><a href="javascript:void(0)" onclick="delIndex(this)">del</a></td></tr>
    <tr><td>4</td><td><a href="javascript:void(0)" onclick="delIndex(this)">del</a></td></tr>
    <tr><td>5</td><td><a href="javascript:void(0)" onclick="delIndex(this)">del</a></td></tr>
    <tr><td>6</td><td><a href="javascript:void(0)" onclick="delIndex(this)">del</a></td></tr>
    <tr><td>7</td><td><a href="javascript:void(0)" onclick="delIndex(this)">del</a></td></tr>
        </tbody>
    </table>
{% set t=JsonDict|jsontoObj %}
<p>{{ t|length }}</p>
{% for key in t %}
<p>{{ key }}</p>
{% endfor %}
</body>
</html>