
div.jsoneditor,div.jsoneditor-outer{
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box
}
div.jsoneditor-selecttype{
	padding: 10px;
}
.jsonlist{
	min-height:16px;
	min-width:80px;
	padding:2px;
	margin:1px;
	word-wrap:break-word;
	border-radius:5px
}
.rowsgroup{
	border-radius:5px;
}
td.jsoneditor input{
	height:auto;
	border:inherit
}
li.jsoneditor-ref {
	margin-left: 30px;
}
ul li{
	list-style-type:none;
	min-height: 25px;
	padding: 3px;
	/*margin: 2px;*/
	font-size: 16px;

}
li.jsoneditor-value .jsoneditor-number{
	text-align: center;
	color: purple;
}
button {
	min-height: 30px;
}
td.jsoneditor input:focus{
	border:none!important;
	box-shadow:none!important
}

td.jsoneditor table{
	border-collapse:collapse;
	width:auto
}

td.jsoneditor td,td.jsoneditor th{
	padding:0;
	display:table-cell;
	text-align:left;
	vertical-align:inherit;
	border-radius:inherit

}

td.jsoneditor-field,td.jsoneditor-readonly{
	border:1px solid transparent;
	min-height:16px;
	min-width:32px;
	padding:2px;
	margin-left:10px;
	word-wrap:break-word;
}
td.jsoneditor-value{
	white-space: nowrap;
	border:1px solid transparent;
	min-width:85px;
	padding:1px;
	margin:1px;
	word-wrap:break-word;
	border-radius:2px;
}
span.jsoneditor-value{
	white-space: nowrap;
	border:1px solid transparent;
	padding:1px;
	margin:1px;
	word-wrap:break-word;
	height: 23px;
	border-radius:2px;
}

span.jsoneditor-valuebox{
	white-space: nowrap;
	border:1px solid transparent;
	padding:1px;
	margin:1px;
	height: 30px;
	border-radius:2px;
	display: inline-block;
	width:80px;
	align-self: center;

}
td.jsoneditor-field p,td.jsoneditor-value p{
	margin: 0;
}

td.jsoneditor-readonly{
	min-width:16px;
	color:black;
}
span.jsoneditor-readonly{
	min-width:16px;
	color:black;
}
td.jsoneditor-empty{
	border-color:#d3d3d3;
	border-style:dashed;
	border-radius:2px
}

td.jsoneditor-field.jsoneditor-empty::after,td.jsoneditor-value.jsoneditor-empty::after{
	pointer-events:none;
	color:#d3d3d3;
	font-size:8pt
}
span.jsoneditor-field.jsoneditor-empty::after,span.jsoneditor-value.jsoneditor-empty::after{
	pointer-events:none;
	color:#d3d3d3;
	font-size:8pt
}

td.jsoneditor-field.jsoneditor-empty::after{
	content:"field"
}
span.jsoneditor-field.jsoneditor-empty::after{
	content:"field"
}

td.jsoneditor-value.jsoneditor-empty::after{
	content:"value"
}

span.jsoneditor-value.jsoneditor-empty::after{
	content:"value"
}
a.jsoneditor-value.jsoneditor-url,td.jsoneditor-value.jsoneditor-url{
	color:green;
	text-decoration:underline
}
a.jsoneditor-value.jsoneditor-url,span.jsoneditor-value.jsoneditor-url{
	color:green;
	text-decoration:underline
}

a.jsoneditor-value.jsoneditor-url{
	display:inline-block;
	padding:2px;
	margin:2px
}

a.jsoneditor-value.jsoneditor-url:focus,a.jsoneditor-value.jsoneditor-url:hover{
	color:#ee422e
}

td.jsoneditor td.jsoneditor-separator{
	padding:3px 0;
	vertical-align:top;
	color:black;
}
span.jsoneditor span.jsoneditor-separator{
	padding:3px 0;
	vertical-align:top;
	color:black;
}

td.jsoneditor-field.jsoneditor-highlight,td.jsoneditor-field[contenteditable=true]:focus,td.jsoneditor-field[contenteditable=true]:hover,td.jsoneditor-value.jsoneditor-highlight,td.jsoneditor-value[contenteditable=true]:focus,td.jsoneditor-value[contenteditable=true]:hover{
	background-color:#428bac;

}
span.jsoneditor-valuebox,span.jsoneditor-field.jsoneditor-highlight,span.jsoneditor-field[contenteditable=true]:focus,span.jsoneditor-field[contenteditable=true]:hover,span.jsoneditor-value.jsoneditor-highlight,span.jsoneditor-value[contenteditable=true]:focus,span.jsoneditor-value[contenteditable=true]:hover{
	background-color:#FFFFAB;
	border:2px solid #428bca;
	border-radius: 5px;
}

td.jsoneditor-field.jsoneditor-highlight-active,td.jsoneditor-field.jsoneditor-highlight-active:focus,td.jsoneditor-field.jsoneditor-highlight-active:hover,td.jsoneditor-value.jsoneditor-highlight-active,td.jsoneditor-value.jsoneditor-highlight-active:focus,td.jsoneditor-value.jsoneditor-highlight-active:hover{
	background-color:#fe0;
	border:2px solid #ffc700;
	border-radius:30%
}
span.jsoneditor-field.jsoneditor-highlight-active,span.jsoneditor-field.jsoneditor-highlight-active:focus,span.jsoneditor-field.jsoneditor-highlight-active:hover,span.jsoneditor-value.jsoneditor-highlight-active,span.jsoneditor-value.jsoneditor-highlight-active:focus,span.jsoneditor-value.jsoneditor-highlight-active:hover{
	background-color:#fe0;
	border:2px solid #ffc700;
	border-radius:30%
}

td.jsoneditor-value.jsoneditor-string{
	color:green
}
span.jsoneditor-value.jsoneditor-string{
	color:green
}
td.jsoneditor-value.jsoneditor-array,td.jsoneditor-value.jsoneditor-object{
	min-width:16px;
	color:grey
}
span.jsoneditor-value.jsoneditor-array,span.jsoneditor-value.jsoneditor-object{
	min-width:16px;
	color:grey
}
td.jsoneditor-value.jsoneditor-number{
	text-align: center;
	color:purple;

}
span.jsoneditor-value.jsoneditor-number{
	text-align: center;
	color:purple;

}
td.jsoneditor-value.jsoneditor-boolean{
	color:purple;
}
span.jsoneditor-value.jsoneditor-boolean{
	color:purple;
}

td.jsoneditor-value.jsoneditor-null{
	color:#004ED0
}
span.jsoneditor-value.jsoneditor-null{
	color:#004ED0
}

td.jsoneditor-value.jsoneditor-invalid{
	color:#000
}
span.jsoneditor-value.jsoneditor-invalid{
	color:#000
}

td.jsoneditor-tree button{
	width:24px;
	height:24px;
	padding:0;
	margin:0;
	cursor:pointer;

}
span.jsoneditor-tree button{
	width:24px;
	height:24px;
	padding:0;
	margin:0;
	cursor:pointer;

}
td.jsoneditor-mode-form tr.jsoneditor-expandable td.jsoneditor-tree,td.jsoneditor-mode-view tr.jsoneditor-expandable td.jsoneditor-tree{
	cursor:pointer
}
span.jsoneditor-mode-form tr.jsoneditor-expandable span.jsoneditor-tree,span.jsoneditor-mode-view tr.jsoneditor-expandable span.jsoneditor-tree{
	cursor:pointer
}
td.jsoneditor-tree button.jsoneditor-collapsed{
	background-position:0 -48px
}
span.jsoneditor-tree button.jsoneditor-collapsed{
	background-position:0 -48px
}

td.jsoneditor-tree button.jsoneditor-expanded{
	background-position:0 -72px
}
span.jsoneditor-tree button.jsoneditor-expanded{
	background-position:0 -72px
}
td.jsoneditor-tree button.jsoneditor-contextmenu{
	background-position:-48px -72px
}
span.jsoneditor-tree button.jsoneditor-contextmenu{
	background-position:-48px -72px
}
td.jsoneditor-tree button.jsoneditor-contextmenu.jsoneditor-selected,td.jsoneditor-tree button.jsoneditor-contextmenu:focus,td.jsoneditor-tree button.jsoneditor-contextmenu:hover,tr.jsoneditor-selected.jsoneditor-first button.jsoneditor-contextmenu{
	background-position:-48px -48px
}
span.jsoneditor-tree button.jsoneditor-contextmenu.jsoneditor-selected,span.jsoneditor-tree button.jsoneditor-contextmenu:focus,span.jsoneditor-tree button.jsoneditor-contextmenu:hover,tr.jsoneditor-selected.jsoneditor-first button.jsoneditor-contextmenu{
	background-position:-48px -48px
}
td.jsoneditor-tree :focus{
	outline:0
}
span.jsoneditor-tree :focus{
	outline:0
}
td.jsoneditor-tree button:focus{
	background-color:#f5f5f5;
	outline:#e5e5e5 solid 1px
}

td.jsoneditor-tree button.jsoneditor-invisible{
	visibility:hidden;
	background:0 0
}

div.jsoneditor{
	margin-bottom: 50px;
	color:#1A1A1A;
	border:1px solid #3883fa;
	box-sizing:border-box;
	width:100%;
	height:100%;
	overflow:auto;
	position:relative;
	padding:0;
	line-height:100%
}

td.jsoneditor-tree table.jsoneditor-tree{
	border-collapse:collapse;
	border-spacing:0;
	width:100%;
	margin:0
}

td.jsoneditor-outer{
	width:100%;
	height:100%;
	margin:-35px 0 0;
	padding:35px 0 0;
	box-sizing:border-box
}

td.jsoneditor-tree{
	width:100%;
	height:100%;
	position:relative;
	overflow:auto
}



textarea.jsoneditor-text{
	width:100%;
	height:100%;
	margin:0;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	outline-width:0;
	border:none;
	background-color:#fff;
	resize:none
}

tr.jsoneditor-highlight,tr.jsoneditor-selected{
	background-color:#e6e6e6
}

tr.jsoneditor-selected button.jsoneditor-contextmenu,tr.jsoneditor-selected button.jsoneditor-dragarea{
	visibility:hidden
}

tr.jsoneditor-selected.jsoneditor-first button.jsoneditor-contextmenu,tr.jsoneditor-selected.jsoneditor-first button.jsoneditor-dragarea{
	visibility:visible
}

td.jsoneditor-tree button.jsoneditor-dragarea{
	background:url(img/jsoneditor-icons.svg) -72px -72px;
	cursor:move
}

td.jsoneditor-tree button.jsoneditor-dragarea:focus,td.jsoneditor-tree button.jsoneditor-dragarea:hover,tr.jsoneditor-selected.jsoneditor-first button.jsoneditor-dragarea{
	background-position:-72px -48px
}

td.jsoneditor td,td.jsoneditor th,td.jsoneditor tr{
	padding:0;
	margin:0
}

td.jsoneditor td,td.jsoneditor td.jsoneditor-tree{
	vertical-align:top
}

.jsoneditor-schema-error,td.jsoneditor td,td.jsoneditor textarea,td.jsoneditor th,td.jsoneditor-field,td.jsoneditor-value{
	font-family:droid sans mono,consolas,monospace,courier new,courier,sans-serif;
	font-size:13pt;
	color:#1A1A1A
}
td.jsoneditor-listinput{
	white-space: nowrap;
	background-color: darkgray;
}
.jsoneditor-schema-error{
	cursor:default;
	display:inline-block;
	height:24px;
	line-height:24px;
	position:relative;
	text-align:center;
	width:24px
}

td.jsoneditor-tree .jsoneditor-schema-error{
	width:24px;
	height:24px;
	padding:0;
	margin:0 4px 0 0;
	background:url(img/jsoneditor-icons.svg) -168px -48px
}

.jsoneditor-schema-error .jsoneditor-popover{
	background-color:#4c4c4c;
	border-radius:3px;
	box-shadow:0 0 5px rgba(0,0,0,.4);
	color:#fff;
	display:none;
	padding:7px 10px;
	position:absolute;
	width:200px;
	z-index:4
}

.jsoneditor-schema-error .jsoneditor-popover.jsoneditor-above{
	bottom:32px;
	left:-98px
}

.jsoneditor-schema-error .jsoneditor-popover.jsoneditor-below{
	top:32px;
	left:-98px
}

.jsoneditor-schema-error .jsoneditor-popover.jsoneditor-left{
	top:-7px;
	right:32px
}

.jsoneditor-schema-error .jsoneditor-popover.jsoneditor-right{
	top:-7px;
	left:32px
}

.jsoneditor-schema-error .jsoneditor-popover:before{
	border-right:7px solid transparent;
	border-left:7px solid transparent;
	content:'';
	display:block;
	left:50%;
	margin-left:-7px;
	position:absolute
}

.jsoneditor-schema-error .jsoneditor-popover.jsoneditor-above:before{
	border-top:7px solid #4c4c4c;
	bottom:-7px
}

.jsoneditor-schema-error .jsoneditor-popover.jsoneditor-below:before{
	border-bottom:7px solid #4c4c4c;
	top:-7px
}

.jsoneditor-schema-error .jsoneditor-popover.jsoneditor-left:before,.jsoneditor-schema-error .jsoneditor-popover.jsoneditor-right:before{
	border-top:7px solid transparent;
	border-bottom:7px solid transparent;
	content:'';
	top:19px;
	margin-left:inherit;
	margin-top:-7px;
	position:absolute
}

.jsoneditor-schema-error .jsoneditor-popover.jsoneditor-left:before{
	border-left:7px solid #4c4c4c;
	right:-14px;
	left:inherit
}

.jsoneditor-schema-error .jsoneditor-popover.jsoneditor-right:before{
	border-right:7px solid #4c4c4c;
	left:-14px
}

.jsoneditor-schema-error:focus .jsoneditor-popover,.jsoneditor-schema-error:hover .jsoneditor-popover{
	display:block;
	-webkit-animation:fade-in .3s linear 1,move-up .3s linear 1;
	-moz-animation:fade-in .3s linear 1,move-up .3s linear 1;
	-ms-animation:fade-in .3s linear 1,move-up .3s linear 1
}

@-webkit-keyframes fade-in{
	from{
		opacity:0
	}

	to{
		opacity:1
	}

}

@-moz-keyframes fade-in{
	from{
		opacity:0
	}

	to{
		opacity:1
	}

}

@-ms-keyframes fade-in{
	from{
		opacity:0
	}

	to{
		opacity:1
	}

}

.jsoneditor .jsoneditor-text-errors{
	width:100%;
	border-collapse:collapse;
	background-color:#ffef8b;
	border-top:1px solid gold
}

.jsoneditor .jsoneditor-text-errors td{
	padding:3px 6px;
	vertical-align:middle
}

.jsoneditor-text-errors .jsoneditor-schema-error{
	border:none;
	width:24px;
	height:24px;
	padding:0;
	margin:0 4px 0 0;
	background:url(img/jsoneditor-icons.svg) -168px -48px
}

td.jsoneditor-contextmenu-root{
	position:relative;
	width:0;
	height:0
}

td.jsoneditor-contextmenu{
	position:absolute;
	box-sizing:content-box;
	z-index:99999
}

td.jsoneditor-contextmenu li,td.jsoneditor-contextmenu ul{
	box-sizing:content-box
}

td.jsoneditor-contextmenu ul{
	position:relative;
	left:0;
	top:0;
	width:124px;
	background:#fff;
	border:1px solid #d3d3d3;
	box-shadow:2px 2px 12px rgba(128,128,128,.3);
	list-style:none;
	margin:0;
	padding:0
}

td.jsoneditor-contextmenu ul li button{
	padding:0;
	margin:0;
	width:124px;
	height:24px;
	border:none;
	cursor:pointer;
	color:#4d4d4d;
	background:0 0;
	font-size:10pt;
	font-family:arial,sans-serif;
	box-sizing:border-box;
	line-height:26px;
	text-align:left
}

#auto,#codeEditor,#treeEditor,td.jsoneditor-menu{
	-moz-box-sizing:border-box
}

td.jsoneditor-contextmenu ul li button::-moz-focus-inner{
	padding:0;
	border:0
}

td.jsoneditor-contextmenu ul li button:focus,td.jsoneditor-contextmenu ul li button:hover{
	color:#1a1a1a;
	background-color:#f5f5f5;
	outline:0
}

td.jsoneditor-contextmenu ul li button.jsoneditor-default{
	width:92px
}

td.jsoneditor-contextmenu ul li button.jsoneditor-expand{
	float:right;
	width:32px;
	height:24px;
	border-left:1px solid #e5e5e5
}

td.jsoneditor-contextmenu td.jsoneditor-icon{
	float:left;
	width:24px;
	height:24px;
	border:none;
	padding:0;
	margin:0;
	background-image:url(img/jsoneditor-icons.svg)
}

td.jsoneditor-contextmenu ul li button td.jsoneditor-expand{
	float:right;
	width:24px;
	height:24px;
	padding:0;
	margin:0 4px 0 0;
	background:url(img/jsoneditor-icons.svg) 0 -72px;
	opacity:.4
}

td.jsoneditor-contextmenu ul li button.jsoneditor-expand:focus td.jsoneditor-expand,td.jsoneditor-contextmenu ul li button.jsoneditor-expand:hover td.jsoneditor-expand,td.jsoneditor-contextmenu ul li button:focus td.jsoneditor-expand,td.jsoneditor-contextmenu ul li button:hover td.jsoneditor-expand,td.jsoneditor-contextmenu ul li.jsoneditor-selected td.jsoneditor-expand{
	opacity:1
}

td.jsoneditor-contextmenu td.jsoneditor-separator{
	height:0;
	border-top:1px solid #e5e5e5;
	padding-top:5px;
	margin-top:5px
}

td.jsoneditor-contextmenu button.jsoneditor-remove>td.jsoneditor-icon{
	background-position:-24px -24px
}

td.jsoneditor-contextmenu button.jsoneditor-remove:focus>td.jsoneditor-icon,td.jsoneditor-contextmenu button.jsoneditor-remove:hover>td.jsoneditor-icon{
	background-position:-24px 0
}

td.jsoneditor-contextmenu button.jsoneditor-append>td.jsoneditor-icon{
	background-position:0 -24px
}

td.jsoneditor-contextmenu button.jsoneditor-append:focus>td.jsoneditor-icon,td.jsoneditor-contextmenu button.jsoneditor-append:hover>td.jsoneditor-icon{
	background-position:0 0
}

td.jsoneditor-contextmenu button.jsoneditor-insert>td.jsoneditor-icon{
	background-position:0 -24px
}

td.jsoneditor-contextmenu button.jsoneditor-insert:focus>td.jsoneditor-icon,td.jsoneditor-contextmenu button.jsoneditor-insert:hover>td.jsoneditor-icon{
	background-position:0 0
}

td.jsoneditor-contextmenu button.jsoneditor-duplicate>td.jsoneditor-icon{
	background-position:-48px -24px
}

td.jsoneditor-contextmenu button.jsoneditor-duplicate:focus>td.jsoneditor-icon,td.jsoneditor-contextmenu button.jsoneditor-duplicate:hover>td.jsoneditor-icon{
	background-position:-48px 0
}

td.jsoneditor-contextmenu button.jsoneditor-sort-asc>td.jsoneditor-icon{
	background-position:-168px -24px
}

td.jsoneditor-contextmenu button.jsoneditor-sort-asc:focus>td.jsoneditor-icon,td.jsoneditor-contextmenu button.jsoneditor-sort-asc:hover>td.jsoneditor-icon{
	background-position:-168px 0
}

td.jsoneditor-contextmenu button.jsoneditor-sort-desc>td.jsoneditor-icon{
	background-position:-192px -24px
}

td.jsoneditor-contextmenu button.jsoneditor-sort-desc:focus>td.jsoneditor-icon,td.jsoneditor-contextmenu button.jsoneditor-sort-desc:hover>td.jsoneditor-icon{
	background-position:-192px 0
}

td.jsoneditor-contextmenu ul li button.jsoneditor-selected,td.jsoneditor-contextmenu ul li button.jsoneditor-selected:focus,td.jsoneditor-contextmenu ul li button.jsoneditor-selected:hover{
	color:#fff;
	background-color:#ee422e
}

td.jsoneditor-contextmenu ul li ul{
	display:none;
	position:relative;
	left:-10px;
	top:0;
	border:none;
	box-shadow:inset 0 0 10px rgba(128,128,128,.5);
	padding:0 10px;
	-webkit-transition:all .3s ease-out;
	-moz-transition:all .3s ease-out;
	-o-transition:all .3s ease-out;
	transition:all .3s ease-out
}

td.jsoneditor-contextmenu ul li ul li button{
	padding-left:24px;
	animation:all ease-in-out 1s
}

td.jsoneditor-contextmenu ul li ul li button:focus,td.jsoneditor-contextmenu ul li ul li button:hover{
	background-color:#f5f5f5
}

td.jsoneditor-contextmenu button.jsoneditor-type-string>td.jsoneditor-icon{
	background-position:-144px -24px
}

td.jsoneditor-contextmenu button.jsoneditor-type-string.jsoneditor-selected>td.jsoneditor-icon,td.jsoneditor-contextmenu button.jsoneditor-type-string:focus>td.jsoneditor-icon,td.jsoneditor-contextmenu button.jsoneditor-type-string:hover>td.jsoneditor-icon{
	background-position:-144px 0
}

td.jsoneditor-contextmenu button.jsoneditor-type-auto>td.jsoneditor-icon{
	background-position:-120px -24px
}

td.jsoneditor-contextmenu button.jsoneditor-type-auto.jsoneditor-selected>td.jsoneditor-icon,td.jsoneditor-contextmenu button.jsoneditor-type-auto:focus>td.jsoneditor-icon,td.jsoneditor-contextmenu button.jsoneditor-type-auto:hover>td.jsoneditor-icon{
	background-position:-120px 0
}

td.jsoneditor-contextmenu button.jsoneditor-type-object>td.jsoneditor-icon{
	background-position:-72px -24px
}

td.jsoneditor-contextmenu button.jsoneditor-type-object.jsoneditor-selected>td.jsoneditor-icon,td.jsoneditor-contextmenu button.jsoneditor-type-object:focus>td.jsoneditor-icon,td.jsoneditor-contextmenu button.jsoneditor-type-object:hover>td.jsoneditor-icon{
	background-position:-72px 0
}

td.jsoneditor-contextmenu button.jsoneditor-type-array>td.jsoneditor-icon{
	background-position:-96px -24px
}

td.jsoneditor-contextmenu button.jsoneditor-type-array.jsoneditor-selected>td.jsoneditor-icon,td.jsoneditor-contextmenu button.jsoneditor-type-array:focus>td.jsoneditor-icon,td.jsoneditor-contextmenu button.jsoneditor-type-array:hover>td.jsoneditor-icon{
	background-position:-96px 0
}

td.jsoneditor-contextmenu button.jsoneditor-type-modes>td.jsoneditor-icon{
	background-image:none;
	width:6px
}

td.jsoneditor-menu{
	width:100%;
	height:35px;
	padding:2px;
	margin:0;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	color:#fff;
	border-bottom:1px solid #3883fa
}

td.jsoneditor-menu>button,td.jsoneditor-menu>td.jsoneditor-modes>button{
	width:26px;
	height:26px;
	margin:2px;
	padding:0;
	border-radius:2px;
	border:1px solid transparent;
	background:url(img/jsoneditor-icons.svg);
	color:#fff;
	opacity:.8;
	font-family:arial,sans-serif;
	font-size:10pt;
	float:left
}

td.jsoneditor-menu>button:hover,td.jsoneditor-menu>td.jsoneditor-modes>button:hover{
	background-color:rgba(255,255,255,.2);
	border:1px solid rgba(255,255,255,.4)
}

td.jsoneditor-menu>button:active,td.jsoneditor-menu>button:focus,td.jsoneditor-menu>td.jsoneditor-modes>button:active,td.jsoneditor-menu>td.jsoneditor-modes>button:focus{
	background-color:rgba(255,255,255,.3)
}

td.jsoneditor-menu>button:disabled,td.jsoneditor-menu>td.jsoneditor-modes>button:disabled{
	opacity:.5
}

td.jsoneditor-menu>button.jsoneditor-collapse-all{
	background-position:0 -96px
}

td.jsoneditor-menu>button.jsoneditor-expand-all{
	background-position:0 -120px
}

td.jsoneditor-menu>button.jsoneditor-undo{
	background-position:-24px -96px
}

td.jsoneditor-menu>button.jsoneditor-undo:disabled{
	background-position:-24px -120px
}

td.jsoneditor-menu>button.jsoneditor-redo{
	background-position:-48px -96px
}

td.jsoneditor-menu>button.jsoneditor-redo:disabled{
	background-position:-48px -120px
}

td.jsoneditor-menu>button.jsoneditor-compact{
	background-position:-72px -96px
}

td.jsoneditor-menu>button.jsoneditor-format{
	background-position:-72px -120px
}

td.jsoneditor-menu>td.jsoneditor-modes{
	display:inline-block;
	float:left
}

#menu a,#menu ul li.active>ul,#menu ul li:hover>ul{
	display:block
}

td.jsoneditor-menu>td.jsoneditor-modes>button{
	background-image:none;
	width:auto;
	padding-left:6px;
	padding-right:6px
}

td.jsoneditor-menu>button.jsoneditor-separator,td.jsoneditor-menu>td.jsoneditor-modes>button.jsoneditor-separator{
	margin-left:10px
}

td.jsoneditor-menu a{
	font-family:arial,sans-serif;
	font-size:10pt;
	color:#fff;
	opacity:.8;
	vertical-align:middle
}

td.jsoneditor-menu a:hover{
	opacity:1
}

td.jsoneditor-menu a.jsoneditor-poweredBy{
	font-size:8pt;
	position:absolute;
	right:0;
	top:0;
	padding:10px
}

table.jsoneditor-search td.jsoneditor-results,table.jsoneditor-search input{
	font-family:arial,sans-serif;
	font-size:10pt;
	color:#1A1A1A;
	background:0 0
}

table.jsoneditor-search td.jsoneditor-results{
	color:#fff;
	padding-right:5px;
	line-height:24px
}

table.jsoneditor-search{
	position:absolute;
	right:4px;
	top:4px;
	border-collapse:collapse;
	border-spacing:0
}

table.jsoneditor-search td.jsoneditor-frame{
	border:1px solid transparent;
	background-color:#fff;
	padding:0 2px;
	margin:0
}

table.jsoneditor-search td.jsoneditor-frame table{
	border-collapse:collapse
}

table.jsoneditor-search input{
	width:120px;
	border:none;
	outline:0;
	margin:1px;
	line-height:20px
}

#menu ul li.settings ul#settingsMenu li td.indentation,#name{
	line-height:24px
}

table.jsoneditor-search button{
	width:16px;
	height:24px;
	padding:0;
	margin:0;
	border:none;
	background:url(img/jsoneditor-icons.svg);
	vertical-align:top
}

table.jsoneditor-search button:hover{
	background-color:transparent
}

table.jsoneditor-search button.jsoneditor-refresh{
	width:18px;
	background-position:-99px -73px
}

table.jsoneditor-search button.jsoneditor-next{
	cursor:pointer;
	background-position:-124px -73px
}

table.jsoneditor-search button.jsoneditor-next:hover{
	background-position:-124px -49px
}

table.jsoneditor-search button.jsoneditor-previous{
	cursor:pointer;
	background-position:-148px -73px;
	margin-right:2px
}

table.jsoneditor-search button.jsoneditor-previous:hover{
	background-position:-148px -49px
}

td.prompt-background,td.prompt-overlay{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	z-index:999
}

td.prompt-overlay{
	background-color:gray;
	opacity:.2;
	filter:alpha(opacity=20)
}

td.prompt-border{
	width:410px;
	margin:100px auto;
	padding:20px;
	background-color:#fff;
	border:1px solid #d3d3d3;
	border-radius:2px;
	-moz-box-shadow:2px 2px 12px rgba(128,128,128,.3);
	-webkit-box-shadow:2px 2px 12px rgba(128,128,128,.3);
	box-shadow:2px 2px 12px rgba(128,128,128,.3)
}


td.prompt-title{
	font-weight:700
}

td.prompt-description{
	color:gray;
	margin:30px 0 0
}

td.prompt-contents{
	margin:30px 0
}

td.prompt-buttons{
	text-align:right
}

input.prompt-field[type=file],input.prompt-field[type=text]{
	width:100%;
	border:1px solid #d3d3d3;
	border-radius:2px;
	padding:8px;
	box-sizing:border-box
}

#auto,#codeEditor,#treeEditor{
	-webkit-box-sizing:border-box
}

input.prompt-cancel,input.prompt-submit{
	margin-left:10px
}

td.prompt-contents th{
	font-weight:400;
	text-align:left
}

td.prompt-contents td,td.prompt-contents th{
	padding:8px 0
}


span.header-light{
	color:gray
}

#header,#menu a,#name{
	color:#fff
}

#menu ul li.settings ul#settingsMenu li div a.remove:hover,#name-status a:hover,#schemasList label:hover{
	color:#ee422e
}

#header{
	height:40px;
	background:url(img/header_background.png) #4D4D4D;
	box-shadow:0 0 4px 2px rgba(0,0,0,.4)
}

#logo{
	height:32px;
	margin:4px 10px;
	border:none
}

#name-menu{
	position:absolute;
	left:220px;
	top:7px
}

#name-menu div{
	display:inline-block
}

#name{
	padding:0 10px;
	border:1px solid #737373;
	border-radius:3px;
	background:rgba(115,115,115,.5);
	-moz-box-shadow:inset 0 0 10px #000;
	-webkit-box-shadow:inset 0 0 10px #000;
	box-shadow:inset 0 0 10px #000;
	visibility:hidden
}

#menu ul li,#menu ul li ul li{
	background:0 0;
	border:none;
	margin:0;
	padding:0
}

#footer,td.jsoneditor{
	box-shadow:0 0 4px 2px rgba(0,0,0,.1)
}

#name-status,#name-status a{
	color:grey
}

#menu{
	position:absolute;
	top:5px;
	right:15px;
	font-size:11pt
}

#menu ul{
	list-style:none;
	margin:0;
	padding:0;
	clear:both
}

#menu ul li{
	color:#e6e6e6;
	border-right:1px solid #737373;
	height:30px;
	float:left;
	position:relative
}

#menu ul li:first-child{
	border-left:1px solid #737373
}

#menu ul li:hover{
	color:#fff;
	background-color:#737373
}

#menu ul li ul{
	display:none;
	position:absolute;
	top:30px;
	left:0;
	z-index:999;
	background:#f5f5f5;
	border:1px solid #d3d3d3;
	box-shadow:0 0 15px rgba(128,128,128,.5)
}

#menu ul li ul li{
	color:#737373;
	width:200px
}

#menu ul li ul #filesList,#menu ul li.settings ul#settingsMenu li#schemasList{
	border-top:1px solid #d3d3d3;
	margin-top:10px;
	max-height:300px;
	overflow-x:hidden;
	overflow-y:auto
}

#menu a,#menu ul li ul #filesList td.file a{
	padding:6px 10px
}

#menu ul li ul li:first-child{
	border-left:none
}

#menu ul li ul li:hover{
	color:#737373;
	background-color:#fff
}

#menu a{
	cursor:pointer
}

#menu ul li ul li a{
	color:#737373
}

#menu ul li ul #filesList{
	height:auto
}

#menu ul li #openMenu li td.file{
	position:relative
}

#menu ul li ul #filesList td.file a:hover{
	color:#ee422e;
	text-decoration:underline
}

#menu ul li ul #filesList td.file:first-child a{
	padding-top:16px
}

#menu ul li ul #filesList td.file:last-child a{
	padding-bottom:16px
}

#menu ul li ul #filesList td.file a.open{
	margin-right:30px
}

#menu ul li ul #filesList td.file a.remove{
	display:none;
	position:absolute;
	top:0;
	right:0;
	height:30px;
	width:10px;
	padding:0 10px;
	line-height:24px;
	font-size:18px;
	font-weight:700;
	text-decoration:none
}

#menu ul li #openMenu li td.file:hover a.remove{
	display:block
}

#menu ul li ul #filesList td.file:first-child a.remove{
	padding-top:10px
}

span.dropDownIcon{
	font-size:75%;
	margin-left:2px
}

#menu #open{
	cursor:default
}

#menu ul li.settings ul#settingsMenu{
	left:auto;
	right:0
}

#menu ul li.settings ul#settingsMenu li{
	height:auto
}

#menu ul li.settings ul#settingsMenu li:hover{
	background-color:inherit
}

#menu ul li.settings ul#settingsMenu li div{
	padding:6px 10px;
	position:relative
}

#menu ul li.settings ul#settingsMenu li#schemasList{
	padding:6px 0;
	height:auto
}

#menu ul li.settings ul#settingsMenu li div a.remove{
	display:none;
	position:absolute;
	top:0;
	right:0;
	height:30px;
	width:10px;
	padding:0 10px;
	line-height:30px;
	font-size:18px;
	font-weight:700;
	text-decoration:none
}

#auto,#contents,#splitter{
	height:100%
}

#auto,#contents,#footer{
	width:100%;
	overflow:hidden
}

#menu ul li.settings ul#settingsMenu li div:hover a.remove{
	display:block
}

.info,.schema-selection{
	color:gray
}

#indentation{
	width:32px;
	height:14px;
	padding:4px;
	float:right
}

.info{
	font-style:italic
}

#auto{
	margin:-40px 0 -24px;
	padding:40px 0 24px;
	box-sizing:border-box
}

#codeEditor,#treeEditor{
	height:100%;
	width:400px;
	box-sizing:border-box
}

#codeEditor{
	float:left;
	padding:15px 0 15px 15px
}

#treeEditor{
	float:left;
	padding:15px 15px 15px 0
}

td.jsoneditor,td.jsoneditor-menu{
	/*border-color:#f4a460!important*/
}

td.jsoneditor-menu{
	background-color:#f4a460!important
}

#splitter{
	float:left;
	padding:15px;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box
}

#splitter #buttons{
	margin:0 0 15px
}

#splitter #toTree{
	margin:40px 0 0
}

#splitter #toCode{
	margin:20px 0 0
}

#splitter #drag{
	font-size:32px;
	color:#d3d3d3;
	border-radius:3px;
	min-width:24px;
	cursor:col-resize
}

#splitter #drag.active,#splitter #drag:hover{
	color:gray;
	background-color:#f5f5f5
}

#footer{
	height:23px;
	font-size:10pt;
	color:#BFBFBF;
	border-top:1px solid #d3d3d3;
	background-color:#F5F5F5
}

#footer-inner{
	margin:4px
}

a.header{
	color:#fff;
	text-decoration:none
}

a.footer{
	color:#BFBFBF;
	text-decoration:none
}

a.footer:hover{
	color:#ee422e;
	text-decoration:underline
}

td.error,td.error a{
	color:#fff
}

#ad{
	float:right;
	right:15px;
	padding:15px 0;
	position:relative
}

#ad .jsoneditoronline-responsive{
	width:160px;
	height:600px
}

@media(min-width:1500px){
	#ad .jsoneditoronline-responsive{
		width:300px;
		height:600px
	}

}

#chromeAppInfo{
	line-height:normal;
	padding:0 5px 20px
}

td.error,td.notification{
	border-radius:2px;
	padding:5px;
	margin:5px;
	box-shadow:0 0 15px rgba(128,128,128,.5)
}

td.error{
	background-color:#ee422e;
	border:1px solid #ee422e
}

td.error a:hover{
	color:#ffcecf
}

td.notification{
	color:#1a1a1a;
	background-color:#FFFFAB;
	border:1px solid #e6d600
}

pre.error{
	margin:0 0 10px;
	white-space:pre-wrap;
	font-family:droid sans mono,monospace,courier new,courier,sans-serif;
	font-size:10pt
}

a.error{
	color:#ee422e;
	font-size:8pt
}

#schemaDoc{
	padding:4px 8px
}

button.flat,input.flat{
	border:1px solid #d3d3d3;
	border-radius:2px;
	padding:8px;
	box-sizing:border-box
}

button.flat,input[type=button].flat,input[type=submit].flat{
	background-color:#f5f5f5;
	box-shadow:0 0 2px 1px rgba(0,0,0,.05)
}

button.flat:hover,input[type=button].flat:hover,input[type=submit].flat:hover{
	background-color:#fff;
	box-shadow:0 0 2px 1px rgba(0,0,0,.05)
}

td.error button.close{
	font-size:16px;
	font-weight:700;
	padding:4px 8px
}

button.convert{
	cursor:default;
	padding:2px
}

td.convert-left,td.convert-right{
	width:24px;
	height:24px;
	margin:0
}


.jsoneditor .search input{
	background:0 0
}
span.jsoneditor-tree button:focus{
	background-color:#f5f5f5;
	outline:#e5e5e5 solid 1px
}

span.jsoneditor-tree button.jsoneditor-invisible{
	visibility:hidden;
	background:0 0
}

div.jsoneditor{
	margin-bottom: 50px;
	color:#1A1A1A;
	border:1px solid #3883fa;
	box-sizing:border-box;
	width:100%;
	height:100%;
	overflow:auto;
	position:relative;
	padding:0;
	line-height:100%
}

span.jsoneditor-tree table.jsoneditor-tree{
	border-collapse:collapse;
	border-spacing:0;
	width:100%;
	margin:0
}

span.jsoneditor-outer{
	width:100%;
	height:100%;
	margin:-35px 0 0;
	padding:35px 0 0;
	box-sizing:border-box
}

span.jsoneditor-tree{
	width:100%;
	height:100%;
	position:relative;
	overflow:auto
}

textarea.jsoneditor-text{
	width:100%;
	height:100%;
	margin:0;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	outline-width:0;
	border:none;
	background-color:#fff;
	resize:none
}

tr.jsoneditor-highlight,tr.jsoneditor-selected{
	background-color:#e6e6e6
}

tr.jsoneditor-selected button.jsoneditor-contextmenu,tr.jsoneditor-selected button.jsoneditor-dragarea{
	visibility:hidden
}

tr.jsoneditor-selected.jsoneditor-first button.jsoneditor-contextmenu,tr.jsoneditor-selected.jsoneditor-first button.jsoneditor-dragarea{
	visibility:visible
}

span.jsoneditor-tree button.jsoneditor-dragarea{
	background:url(img/jsoneditor-icons.svg) -72px -72px;
	cursor:move
}

span.jsoneditor-tree button.jsoneditor-dragarea:focus,span.jsoneditor-tree button.jsoneditor-dragarea:hover,tr.jsoneditor-selected.jsoneditor-first button.jsoneditor-dragarea{
	background-position:-72px -48px
}

span.jsoneditor span,span.jsoneditor th,span.jsoneditor tr{
	padding:0;
	margin:0
}

span.jsoneditor span,span.jsoneditor span.jsoneditor-tree{
	vertical-align:top
}

.jsoneditor-schema-error,span.jsoneditor span,span.jsoneditor textarea,span.jsoneditor th,span.jsoneditor-field,span.jsoneditor-value{
	font-family:droid sans mono,consolas,monospace,courier new,courier,sans-serif;
	font-size:13pt;
	color:#1A1A1A
}
span.jsoneditor-listinput{
	white-space: nowrap;
	background-color: darkgray;
}
.jsoneditor-schema-error{
	cursor:default;
	display:inline-block;
	height:24px;
	line-height:24px;
	position:relative;
	text-align:center;
	width:24px
}

span.jsoneditor-tree .jsoneditor-schema-error{
	width:24px;
	height:24px;
	padding:0;
	margin:0 4px 0 0;
	background:url(img/jsoneditor-icons.svg) -168px -48px
}

.jsoneditor-schema-error .jsoneditor-popover{
	background-color:#4c4c4c;
	border-radius:3px;
	box-shadow:0 0 5px rgba(0,0,0,.4);
	color:#fff;
	display:none;
	padding:7px 10px;
	position:absolute;
	width:200px;
	z-index:4
}

.jsoneditor-schema-error .jsoneditor-popover.jsoneditor-above{
	bottom:32px;
	left:-98px
}

.jsoneditor-schema-error .jsoneditor-popover.jsoneditor-below{
	top:32px;
	left:-98px
}

.jsoneditor-schema-error .jsoneditor-popover.jsoneditor-left{
	top:-7px;
	right:32px
}

.jsoneditor-schema-error .jsoneditor-popover.jsoneditor-right{
	top:-7px;
	left:32px
}

.jsoneditor-schema-error .jsoneditor-popover:before{
	border-right:7px solid transparent;
	border-left:7px solid transparent;
	content:'';
	display:block;
	left:50%;
	margin-left:-7px;
	position:absolute
}

.jsoneditor-schema-error .jsoneditor-popover.jsoneditor-above:before{
	border-top:7px solid #4c4c4c;
	bottom:-7px
}

.jsoneditor-schema-error .jsoneditor-popover.jsoneditor-below:before{
	border-bottom:7px solid #4c4c4c;
	top:-7px
}

.jsoneditor-schema-error .jsoneditor-popover.jsoneditor-left:before,.jsoneditor-schema-error .jsoneditor-popover.jsoneditor-right:before{
	border-top:7px solid transparent;
	border-bottom:7px solid transparent;
	content:'';
	top:19px;
	margin-left:inherit;
	margin-top:-7px;
	position:absolute
}

.jsoneditor-schema-error .jsoneditor-popover.jsoneditor-left:before{
	border-left:7px solid #4c4c4c;
	right:-14px;
	left:inherit
}

.jsoneditor-schema-error .jsoneditor-popover.jsoneditor-right:before{
	border-right:7px solid #4c4c4c;
	left:-14px
}

.jsoneditor-schema-error:focus .jsoneditor-popover,.jsoneditor-schema-error:hover .jsoneditor-popover{
	display:block;
	-webkit-animation:fade-in .3s linear 1,move-up .3s linear 1;
	-moz-animation:fade-in .3s linear 1,move-up .3s linear 1;
	-ms-animation:fade-in .3s linear 1,move-up .3s linear 1
}

@-webkit-keyframes fade-in{
	from{
		opacity:0
	}

	to{
		opacity:1
	}

}

@-moz-keyframes fade-in{
	from{
		opacity:0
	}

	to{
		opacity:1
	}

}

@-ms-keyframes fade-in{
	from{
		opacity:0
	}

	to{
		opacity:1
	}

}

.jsoneditor .jsoneditor-text-errors{
	width:100%;
	border-collapse:collapse;
	background-color:#ffef8b;
	border-top:1px solid gold
}

.jsoneditor .jsoneditor-text-errors span{
	padding:3px 6px;
	vertical-align:middle
}

.jsoneditor-text-errors .jsoneditor-schema-error{
	border:none;
	width:24px;
	height:24px;
	padding:0;
	margin:0 4px 0 0;
	background:url(img/jsoneditor-icons.svg) -168px -48px
}

span.jsoneditor-contextmenu-root{
	position:relative;
	width:0;
	height:0
}

span.jsoneditor-contextmenu{
	position:absolute;
	box-sizing:content-box;
	z-index:99999
}

span.jsoneditor-contextmenu li,span.jsoneditor-contextmenu ul{
	box-sizing:content-box
}

span.jsoneditor-contextmenu ul{
	position:relative;
	left:0;
	top:0;
	width:124px;
	background:#fff;
	border:1px solid #d3d3d3;
	box-shadow:2px 2px 12px rgba(128,128,128,.3);
	list-style:none;
	margin:0;
	padding:0
}

span.jsoneditor-contextmenu ul li button{
	padding:0;
	margin:0;
	width:124px;
	height:24px;
	border:none;
	cursor:pointer;
	color:#4d4d4d;
	background:0 0;
	font-size:10pt;
	font-family:arial,sans-serif;
	box-sizing:border-box;
	line-height:26px;
	text-align:left
}

#auto,#codeEditor,#treeEditor,span.jsoneditor-menu{
	-moz-box-sizing:border-box
}

span.jsoneditor-contextmenu ul li button::-moz-focus-inner{
	padding:0;
	border:0
}

span.jsoneditor-contextmenu ul li button:focus,span.jsoneditor-contextmenu ul li button:hover{
	color:#1a1a1a;
	background-color:#f5f5f5;
	outline:0
}

span.jsoneditor-contextmenu ul li button.jsoneditor-default{
	width:92px
}

span.jsoneditor-contextmenu ul li button.jsoneditor-expand{
	float:right;
	width:32px;
	height:24px;
	border-left:1px solid #e5e5e5
}

span.jsoneditor-contextmenu span.jsoneditor-icon{
	float:left;
	width:24px;
	height:24px;
	border:none;
	padding:0;
	margin:0;
	background-image:url(img/jsoneditor-icons.svg)
}

span.jsoneditor-contextmenu ul li button span.jsoneditor-expand{
	float:right;
	width:24px;
	height:24px;
	padding:0;
	margin:0 4px 0 0;
	background:url(img/jsoneditor-icons.svg) 0 -72px;
	opacity:.4
}

span.jsoneditor-contextmenu ul li button.jsoneditor-expand:focus span.jsoneditor-expand,span.jsoneditor-contextmenu ul li button.jsoneditor-expand:hover span.jsoneditor-expand,span.jsoneditor-contextmenu ul li button:focus span.jsoneditor-expand,span.jsoneditor-contextmenu ul li button:hover span.jsoneditor-expand,span.jsoneditor-contextmenu ul li.jsoneditor-selected span.jsoneditor-expand{
	opacity:1
}

span.jsoneditor-contextmenu span.jsoneditor-separator{
	height:0;
	border-top:1px solid #e5e5e5;
	padding-top:5px;
	margin-top:5px
}

span.jsoneditor-contextmenu button.jsoneditor-remove>span.jsoneditor-icon{
	background-position:-24px -24px
}

span.jsoneditor-contextmenu button.jsoneditor-remove:focus>span.jsoneditor-icon,span.jsoneditor-contextmenu button.jsoneditor-remove:hover>span.jsoneditor-icon{
	background-position:-24px 0
}

span.jsoneditor-contextmenu button.jsoneditor-append>span.jsoneditor-icon{
	background-position:0 -24px
}

span.jsoneditor-contextmenu button.jsoneditor-append:focus>span.jsoneditor-icon,span.jsoneditor-contextmenu button.jsoneditor-append:hover>span.jsoneditor-icon{
	background-position:0 0
}

span.jsoneditor-contextmenu button.jsoneditor-insert>span.jsoneditor-icon{
	background-position:0 -24px
}

span.jsoneditor-contextmenu button.jsoneditor-insert:focus>span.jsoneditor-icon,span.jsoneditor-contextmenu button.jsoneditor-insert:hover>span.jsoneditor-icon{
	background-position:0 0
}

span.jsoneditor-contextmenu button.jsoneditor-duplicate>span.jsoneditor-icon{
	background-position:-48px -24px
}

span.jsoneditor-contextmenu button.jsoneditor-duplicate:focus>span.jsoneditor-icon,span.jsoneditor-contextmenu button.jsoneditor-duplicate:hover>span.jsoneditor-icon{
	background-position:-48px 0
}

span.jsoneditor-contextmenu button.jsoneditor-sort-asc>span.jsoneditor-icon{
	background-position:-168px -24px
}

span.jsoneditor-contextmenu button.jsoneditor-sort-asc:focus>span.jsoneditor-icon,span.jsoneditor-contextmenu button.jsoneditor-sort-asc:hover>span.jsoneditor-icon{
	background-position:-168px 0
}

span.jsoneditor-contextmenu button.jsoneditor-sort-desc>span.jsoneditor-icon{
	background-position:-192px -24px
}

span.jsoneditor-contextmenu button.jsoneditor-sort-desc:focus>span.jsoneditor-icon,span.jsoneditor-contextmenu button.jsoneditor-sort-desc:hover>span.jsoneditor-icon{
	background-position:-192px 0
}

span.jsoneditor-contextmenu ul li button.jsoneditor-selected,span.jsoneditor-contextmenu ul li button.jsoneditor-selected:focus,span.jsoneditor-contextmenu ul li button.jsoneditor-selected:hover{
	color:#fff;
	background-color:#ee422e
}

span.jsoneditor-contextmenu ul li ul{
	display:none;
	position:relative;
	left:-10px;
	top:0;
	border:none;
	box-shadow:inset 0 0 10px rgba(128,128,128,.5);
	padding:0 10px;
	-webkit-transition:all .3s ease-out;
	-moz-transition:all .3s ease-out;
	-o-transition:all .3s ease-out;
	transition:all .3s ease-out
}

span.jsoneditor-contextmenu ul li ul li button{
	padding-left:24px;
	animation:all ease-in-out 1s
}

span.jsoneditor-contextmenu ul li ul li button:focus,span.jsoneditor-contextmenu ul li ul li button:hover{
	background-color:#f5f5f5
}

span.jsoneditor-contextmenu button.jsoneditor-type-string>span.jsoneditor-icon{
	background-position:-144px -24px
}

span.jsoneditor-contextmenu button.jsoneditor-type-string.jsoneditor-selected>span.jsoneditor-icon,span.jsoneditor-contextmenu button.jsoneditor-type-string:focus>span.jsoneditor-icon,span.jsoneditor-contextmenu button.jsoneditor-type-string:hover>span.jsoneditor-icon{
	background-position:-144px 0
}

span.jsoneditor-contextmenu button.jsoneditor-type-auto>span.jsoneditor-icon{
	background-position:-120px -24px
}

span.jsoneditor-contextmenu button.jsoneditor-type-auto.jsoneditor-selected>span.jsoneditor-icon,span.jsoneditor-contextmenu button.jsoneditor-type-auto:focus>span.jsoneditor-icon,span.jsoneditor-contextmenu button.jsoneditor-type-auto:hover>span.jsoneditor-icon{
	background-position:-120px 0
}

span.jsoneditor-contextmenu button.jsoneditor-type-object>span.jsoneditor-icon{
	background-position:-72px -24px
}

span.jsoneditor-contextmenu button.jsoneditor-type-object.jsoneditor-selected>span.jsoneditor-icon,span.jsoneditor-contextmenu button.jsoneditor-type-object:focus>span.jsoneditor-icon,span.jsoneditor-contextmenu button.jsoneditor-type-object:hover>span.jsoneditor-icon{
	background-position:-72px 0
}

span.jsoneditor-contextmenu button.jsoneditor-type-array>span.jsoneditor-icon{
	background-position:-96px -24px
}

span.jsoneditor-contextmenu button.jsoneditor-type-array.jsoneditor-selected>span.jsoneditor-icon,span.jsoneditor-contextmenu button.jsoneditor-type-array:focus>span.jsoneditor-icon,span.jsoneditor-contextmenu button.jsoneditor-type-array:hover>span.jsoneditor-icon{
	background-position:-96px 0
}

span.jsoneditor-contextmenu button.jsoneditor-type-modes>span.jsoneditor-icon{
	background-image:none;
	width:6px
}

span.jsoneditor-menu{
	width:100%;
	height:35px;
	padding:2px;
	margin:0;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	color:#fff;
	border-bottom:1px solid #3883fa
}

span.jsoneditor-menu>button,span.jsoneditor-menu>span.jsoneditor-modes>button{
	width:26px;
	height:26px;
	margin:2px;
	padding:0;
	border-radius:2px;
	border:1px solid transparent;
	background:url(img/jsoneditor-icons.svg);
	color:#fff;
	opacity:.8;
	font-family:arial,sans-serif;
	font-size:10pt;
	float:left
}

span.jsoneditor-menu>button:hover,span.jsoneditor-menu>span.jsoneditor-modes>button:hover{
	background-color:rgba(255,255,255,.2);
	border:1px solid rgba(255,255,255,.4)
}

span.jsoneditor-menu>button:active,span.jsoneditor-menu>button:focus,span.jsoneditor-menu>span.jsoneditor-modes>button:active,span.jsoneditor-menu>span.jsoneditor-modes>button:focus{
	background-color:rgba(255,255,255,.3)
}

span.jsoneditor-menu>button:disabled,span.jsoneditor-menu>span.jsoneditor-modes>button:disabled{
	opacity:.5
}

span.jsoneditor-menu>button.jsoneditor-collapse-all{
	background-position:0 -96px
}

span.jsoneditor-menu>button.jsoneditor-expand-all{
	background-position:0 -120px
}

span.jsoneditor-menu>button.jsoneditor-undo{
	background-position:-24px -96px
}

span.jsoneditor-menu>button.jsoneditor-undo:disabled{
	background-position:-24px -120px
}

span.jsoneditor-menu>button.jsoneditor-redo{
	background-position:-48px -96px
}

span.jsoneditor-menu>button.jsoneditor-redo:disabled{
	background-position:-48px -120px
}

span.jsoneditor-menu>button.jsoneditor-compact{
	background-position:-72px -96px
}

span.jsoneditor-menu>button.jsoneditor-format{
	background-position:-72px -120px
}

span.jsoneditor-menu>span.jsoneditor-modes{
	display:inline-block;
	float:left
}

#menu a,#menu ul li.active>ul,#menu ul li:hover>ul{
	display:block
}

span.jsoneditor-menu>span.jsoneditor-modes>button{
	background-image:none;
	width:auto;
	padding-left:6px;
	padding-right:6px
}

span.jsoneditor-menu>button.jsoneditor-separator,span.jsoneditor-menu>span.jsoneditor-modes>button.jsoneditor-separator{
	margin-left:10px
}

span.jsoneditor-menu a{
	font-family:arial,sans-serif;
	font-size:10pt;
	color:#fff;
	opacity:.8;
	vertical-align:middle
}

span.jsoneditor-menu a:hover{
	opacity:1
}

span.jsoneditor-menu a.jsoneditor-poweredBy{
	font-size:8pt;
	position:absolute;
	right:0;
	top:0;
	padding:10px
}

table.jsoneditor-search span.jsoneditor-results,table.jsoneditor-search input{
	font-family:arial,sans-serif;
	font-size:10pt;
	color:#1A1A1A;
	background:0 0
}

table.jsoneditor-search span.jsoneditor-results{
	color:#fff;
	padding-right:5px;
	line-height:24px
}

table.jsoneditor-search{
	position:absolute;
	right:4px;
	top:4px;
	border-collapse:collapse;
	border-spacing:0
}

table.jsoneditor-search span.jsoneditor-frame{
	border:1px solid transparent;
	background-color:#fff;
	padding:0 2px;
	margin:0
}

table.jsoneditor-search span.jsoneditor-frame table{
	border-collapse:collapse
}

table.jsoneditor-search input{
	width:120px;
	border:none;
	outline:0;
	margin:1px;
	line-height:20px
}

#menu ul li.settings ul#settingsMenu li span.indentation,#name{
	line-height:24px
}

table.jsoneditor-search button{
	width:16px;
	height:24px;
	padding:0;
	margin:0;
	border:none;
	background:url(img/jsoneditor-icons.svg);
	vertical-align:top
}

table.jsoneditor-search button:hover{
	background-color:transparent
}

table.jsoneditor-search button.jsoneditor-refresh{
	width:18px;
	background-position:-99px -73px
}

table.jsoneditor-search button.jsoneditor-next{
	cursor:pointer;
	background-position:-124px -73px
}

table.jsoneditor-search button.jsoneditor-next:hover{
	background-position:-124px -49px
}

table.jsoneditor-search button.jsoneditor-previous{
	cursor:pointer;
	background-position:-148px -73px;
	margin-right:2px
}

table.jsoneditor-search button.jsoneditor-previous:hover{
	background-position:-148px -49px
}

span.prompt-background,span.prompt-overlay{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	z-index:999
}

span.prompt-overlay{
	background-color:gray;
	opacity:.2;
	filter:alpha(opacity=20)
}

span.prompt-border{
	width:410px;
	margin:100px auto;
	padding:20px;
	background-color:#fff;
	border:1px solid #d3d3d3;
	border-radius:2px;
	-moz-box-shadow:2px 2px 12px rgba(128,128,128,.3);
	-webkit-box-shadow:2px 2px 12px rgba(128,128,128,.3);
	box-shadow:2px 2px 12px rgba(128,128,128,.3)
}


span.prompt-title{
	font-weight:700
}

span.prompt-description{
	color:gray;
	margin:30px 0 0
}

span.prompt-contents{
	margin:30px 0
}

span.prompt-buttons{
	text-align:right
}

input.prompt-field[type=file],input.prompt-field[type=text]{
	width:100%;
	border:1px solid #d3d3d3;
	border-radius:2px;
	padding:8px;
	box-sizing:border-box
}

#auto,#codeEditor,#treeEditor{
	-webkit-box-sizing:border-box
}

input.prompt-cancel,input.prompt-submit{
	margin-left:10px
}

span.prompt-contents th{
	font-weight:400;
	text-align:left
}

span.prompt-contents span,span.prompt-contents th{
	padding:8px 0
}


span.header-light{
	color:gray
}

#header,#menu a,#name{
	color:#fff
}

#menu ul li.settings ul#settingsMenu li div a.remove:hover,#name-status a:hover,#schemasList label:hover{
	color:#ee422e
}

#header{
	height:40px;
	background:url(img/header_background.png) #4D4D4D;
	box-shadow:0 0 4px 2px rgba(0,0,0,.4)
}

#logo{
	height:32px;
	margin:4px 10px;
	border:none
}

#name-menu{
	position:absolute;
	left:220px;
	top:7px
}

#name-menu div{
	display:inline-block
}

#name{
	padding:0 10px;
	border:1px solid #737373;
	border-radius:3px;
	background:rgba(115,115,115,.5);
	-moz-box-shadow:inset 0 0 10px #000;
	-webkit-box-shadow:inset 0 0 10px #000;
	box-shadow:inset 0 0 10px #000;
	visibility:hidden
}

#menu ul li,#menu ul li ul li{
	background:0 0;
	border:none;
	margin:0;
	padding:0
}

#footer,span.jsoneditor{
	box-shadow:0 0 4px 2px rgba(0,0,0,.1)
}

#name-status,#name-status a{
	color:grey
}

#menu{
	position:absolute;
	top:5px;
	right:15px;
	font-size:11pt
}

#menu ul{
	list-style:none;
	margin:0;
	padding:0;
	clear:both
}

#menu ul li{
	color:#e6e6e6;
	border-right:1px solid #737373;
	height:30px;
	float:left;
	position:relative
}

#menu ul li:first-child{
	border-left:1px solid #737373
}

#menu ul li:hover{
	color:#fff;
	background-color:#737373
}

#menu ul li ul{
	display:none;
	position:absolute;
	top:30px;
	left:0;
	z-index:999;
	background:#f5f5f5;
	border:1px solid #d3d3d3;
	box-shadow:0 0 15px rgba(128,128,128,.5)
}

#menu ul li ul li{
	color:#737373;
	width:200px
}

#menu ul li ul #filesList,#menu ul li.settings ul#settingsMenu li#schemasList{
	border-top:1px solid #d3d3d3;
	margin-top:10px;
	max-height:300px;
	overflow-x:hidden;
	overflow-y:auto
}

#menu a,#menu ul li ul #filesList span.file a{
	padding:6px 10px
}

#menu ul li ul li:first-child{
	border-left:none
}

#menu ul li ul li:hover{
	color:#737373;
	background-color:#fff
}

#menu a{
	cursor:pointer
}

#menu ul li ul li a{
	color:#737373
}

#menu ul li ul #filesList{
	height:auto
}

#menu ul li #openMenu li span.file{
	position:relative
}

#menu ul li ul #filesList span.file a:hover{
	color:#ee422e;
	text-decoration:underline
}

#menu ul li ul #filesList span.file:first-child a{
	padding-top:16px
}

#menu ul li ul #filesList span.file:last-child a{
	padding-bottom:16px
}

#menu ul li ul #filesList span.file a.open{
	margin-right:30px
}

#menu ul li ul #filesList span.file a.remove{
	display:none;
	position:absolute;
	top:0;
	right:0;
	height:30px;
	width:10px;
	padding:0 10px;
	line-height:24px;
	font-size:18px;
	font-weight:700;
	text-decoration:none
}

#menu ul li #openMenu li span.file:hover a.remove{
	display:block
}

#menu ul li ul #filesList span.file:first-child a.remove{
	padding-top:10px
}

span.dropDownIcon{
	font-size:75%;
	margin-left:2px
}

#menu #open{
	cursor:default
}

#menu ul li.settings ul#settingsMenu{
	left:auto;
	right:0
}

#menu ul li.settings ul#settingsMenu li{
	height:auto
}

#menu ul li.settings ul#settingsMenu li:hover{
	background-color:inherit
}

#menu ul li.settings ul#settingsMenu li div{
	padding:6px 10px;
	position:relative
}

#menu ul li.settings ul#settingsMenu li#schemasList{
	padding:6px 0;
	height:auto
}

#menu ul li.settings ul#settingsMenu li div a.remove{
	display:none;
	position:absolute;
	top:0;
	right:0;
	height:30px;
	width:10px;
	padding:0 10px;
	line-height:30px;
	font-size:18px;
	font-weight:700;
	text-decoration:none
}

#auto,#contents,#splitter{
	height:100%
}

#auto,#contents,#footer{
	width:100%;
	overflow:hidden
}

#menu ul li.settings ul#settingsMenu li div:hover a.remove{
	display:block
}

.info,.schema-selection{
	color:gray
}

#indentation{
	width:32px;
	height:14px;
	padding:4px;
	float:right
}

.info{
	font-style:italic
}

#auto{
	margin:-40px 0 -24px;
	padding:40px 0 24px;
	box-sizing:border-box
}

#codeEditor,#treeEditor{
	height:100%;
	width:400px;
	box-sizing:border-box
}

#codeEditor{
	float:left;
	padding:15px 0 15px 15px
}

#treeEditor{
	float:left;
	padding:15px 15px 15px 0
}

span.jsoneditor,span.jsoneditor-menu{
	/*border-color:#f4a460!important*/
}

span.jsoneditor-menu{
	background-color:#f4a460!important
}

#splitter{
	float:left;
	padding:15px;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box
}

#splitter #buttons{
	margin:0 0 15px
}

#splitter #toTree{
	margin:40px 0 0
}

#splitter #toCode{
	margin:20px 0 0
}

#splitter #drag{
	font-size:32px;
	color:#d3d3d3;
	border-radius:3px;
	min-width:24px;
	cursor:col-resize
}

#splitter #drag.active,#splitter #drag:hover{
	color:gray;
	background-color:#f5f5f5
}

#footer{
	height:23px;
	font-size:10pt;
	color:#BFBFBF;
	border-top:1px solid #d3d3d3;
	background-color:#F5F5F5
}

#footer-inner{
	margin:4px
}

a.header{
	color:#fff;
	text-decoration:none
}

a.footer{
	color:#BFBFBF;
	text-decoration:none
}

a.footer:hover{
	color:#ee422e;
	text-decoration:underline
}

span.error,span.error a{
	color:#fff
}

#ad{
	float:right;
	right:15px;
	padding:15px 0;
	position:relative
}

#ad .jsoneditoronline-responsive{
	width:160px;
	height:600px
}

@media(min-width:1500px){
	#ad .jsoneditoronline-responsive{
		width:300px;
		height:600px
	}

}

#chromeAppInfo{
	line-height:normal;
	padding:0 5px 20px
}

span.error,span.notification{
	border-radius:2px;
	padding:5px;
	margin:5px;
	box-shadow:0 0 15px rgba(128,128,128,.5)
}

span.error{
	background-color:#ee422e;
	border:1px solid #ee422e
}

span.error a:hover{
	color:#ffcecf
}

span.notification{
	color:#1a1a1a;
	background-color:#FFFFAB;
	border:1px solid #e6d600
}

pre.error{
	margin:0 0 10px;
	white-space:pre-wrap;
	font-family:droid sans mono,monospace,courier new,courier,sans-serif;
	font-size:10pt
}

a.error{
	color:#ee422e;
	font-size:8pt
}

#schemaDoc{
	padding:4px 8px
}

button.flat,input.flat{
	border:1px solid #d3d3d3;
	border-radius:2px;
	padding:8px;
	box-sizing:border-box
}

button.flat,input[type=button].flat,input[type=submit].flat{
	background-color:#f5f5f5;
	box-shadow:0 0 2px 1px rgba(0,0,0,.05)
}

button.flat:hover,input[type=button].flat:hover,input[type=submit].flat:hover{
	background-color:#fff;
	box-shadow:0 0 2px 1px rgba(0,0,0,.05)
}

span.error button.close{
	font-size:16px;
	font-weight:700;
	padding:4px 8px
}

button.convert{
	cursor:default;
	padding:2px
}

span.convert-left,span.convert-right{
	width:24px;
	height:24px;
	margin:0
}


.jsoneditor .search input{
	background:0 0
}
