<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="zh" class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title>DFC</title>
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Loading Bootstrap -->
      <link href="../static/css/jsonedit.css" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="../static/css/jquery.multiselect.css" />
      <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
      <link rel="stylesheet" type="text/css" href="../static/css/prettify.css" />
      <link rel="stylesheet" type="text/css" href="../static/css/jquery-ui.css" />
      <link type="text/css" rel="stylesheet" href="../static/css/bootstrap.min.css" >
      <link href="../static/css/jquery.webui-popover.min.css" rel="stylesheet">

      <link rel="stylesheet" href="../static/css/custom.css">
      <link rel="stylesheet" href="../static/css/jqtree.css">
      <link rel="stylesheet" href="../static/css/amazeui.css">
      <link rel="stylesheet" href="../static/css/SignalSystem.css">

      <link rel="stylesheet" type="text/css" href="../static/css/normalize.css" />
      <!--<link rel="stylesheet" type="text/css" href="../static/css/default.css">-->
      <link rel="stylesheet" href="../static/css/chrome-tabs.css">
      <link rel="stylesheet" href="../static/css/chrome-tabs-dark-theme.css">
      <!--[if IE]>
      <script src="http://libs.useso.com/js/html5shiv/3.7/html5shiv.min.js"></script>
      <![endif]-->
      <script src="../static/js/amazeui.js"></script>
      <script src="../static/js/tree.js"></script>
      <script src="../static/js/Automaton.js"></script>
      <script src="../static/js/dropzone.js"></script>
      <script type="text/javascript" src="../static/js/jquery.min.js"></script>
      <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="../static/js/jquery-ui.js"></script>
      <script type="text/javascript" src="../static/js/jquery.ui.core.js"></script>
      <script type="text/javascript" src="../static/js/jquery.ui.widget.js"></script>
      <script type="text/javascript" src="../static/js/prettify.js"></script>
      <script type="text/javascript" src="../static/js/jquery.multiselect.js"></script>
      <script type="text/javascript" src="../static/js/jquery.tips.js"></script>
      <script type="text/javascript" src="../static/js/baseFunctions.js"></script>
      <script type="text/javascript" src="../static/js/MouseSelectCopyandPaste.js"></script>
      <script type="text/javascript" src="../static/js/jsoncsv.editor.js"></script>
      <script type="text/javascript" src="../static/js/main.js" ></script>

      <link data-jsfiddle="common" rel="stylesheet" media="screen" href="../static/dist/handsontable.css">
      <link data-jsfiddle="common" rel="stylesheet" media="screen" href="../static/dist/pikaday/pikaday.css">
      <script data-jsfiddle="common" src="../static/dist/pikaday/pikaday.js"></script>
      <script data-jsfiddle="common" src="../static/dist/moment/moment.js"></script>
      <script data-jsfiddle="common" src="../static/dist/zeroclipboard/ZeroClipboard.js"></script>
      <script data-jsfiddle="common" src="../static/dist/numbro/numbro.js"></script>
      <script data-jsfiddle="common" src="../static/dist/numbro/languages.js"></script>
      <script data-jsfiddle="common" src="../static/dist/handsontable.js"></script>


  </head>
  <body class="am-with-topbar-fixed-top"  style="background-color: #f2f2f2" onload="app.load2()">
  <header class="am-topbar-fixed-top am-topbar am-topbar-inverse">
      <div class="chrome-tabs-shell">
          <div class="chrome-tabs">
              <div class="chrome-tab" id="TAB0">
                  <div class="chrome-tab-favicon" style="background-image: url('../static/img/2.ico')" ></div>
                  <div class="chrome-tab-title">Google</div>
                  <div class="chrome-tab-close"></div>
                  <div class="chrome-tab-curves">
                      <div class="chrome-tab-curves-left-shadow"></div>
                      <div class="chrome-tab-curves-left-highlight"></div>
                      <div class="chrome-tab-curves-left"></div>
                      <div class="chrome-tab-curves-right-shadow"></div>
                      <div class="chrome-tab-curves-right-highlight"></div>
                      <div class="chrome-tab-curves-right"></div>
                  </div>
              </div>
          </div>
      </div>
  </header>
  <script src="../static/js/chrome-tabs.js"></script>
  <script>
        var $chromeTabsShell = $('.chrome-tabs-shell');
        chromeTabs.init({
            $shell: $chromeTabsShell,
            minWidth: 65,
            maxWidth: 240
        });
//        chromeTabs.addNewTab($chromeTabsShell, {
//            favicon: 'img/3.ico',
//            title: 'jQuery之家',
//            data: {
//                timeAdded: +new Date()
//            }
//        });
        $chromeTabsShell.bind('chromeTabRender', function(){
            var $currentTab = $chromeTabsShell.find('.chrome-tab-current');
            if ($currentTab.length && window['console'] && console.log) {
                console.log('Current tab index', $currentTab.index(), 'title', $.trim($currentTab.text()), 'data', $currentTab.data('tabData').data);
            }
        });
  </script>
  <div id="JsonDict" style="display: none">{{ JsonDict }}</div>
  {% set StrategyDict = JsonDict|jsontoObj %}
  <div class="am-g">
      <div class="am-u-sm-2 am-scrollable-vertical LeftMenu" style="max-height: 930px;height: 930px">
      </div>
      <div class="am-u-sm-10 RightArea" style="height: 900px">
          <div class="am-g">
              <div  class="am-u-sm-10 am-scrollable-vertical" style="height: 900px;padding-top: 30px;" >
                  <input id="search_field" placeholder="Search" type="search"> <span id="resultCount">0</span> results
                  <div class="handsontable htRowHeaders htColumnHeaders handsontable-container"
                       data-originalstyle="width: 400px; height: 300px; overflow: hidden;"
                       data-initialstyle="width: 400px; height: 300px; overflow: hidden;"
                       id="loadlog"
                       style="width: 1200px; height: 700px; overflow: hidden;"></div>
                  <div id="jsonlog" ></div>
                  <p id="para">
                      <button  onclick="saveBigTableData()">
                          Dump data to console
                      </button>
                  </p>
                  <div id="showhot1data"></div>
                  <p id="para">
                      <button  onclick="getDataFromJsonTree()">
                          Dump json data to console
                      </button>
                  </p>
                  <div id="showjsondata"></div>
              </div>
              <div class="am-u-sm-2 am-scrollable-vertical RightMenu" style="height: 900px; max-height: 900px; background-color: #f8f8f8;">
                  <h1>Datail</h1>
              </div>
          </div>
      </div>
  </div>
   <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
       aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close"
               data-dismiss="modal" aria-hidden="true">
                  &times;
            </button>
            <h4 class="modal-title" id="myModalLabel">
               模态框（Modal）标题
            </h4>
         </div>
         <div class="modal-body" id="bodymodal"></div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default"
               data-dismiss="modal">关闭
            </button>
            <button type="button" class="btn btn-primary">
               提交更改
            </button>
         </div>
      </div><!-- /.modal-content -->
   </div><!-- /.modal -->
  </div>
  </body>
</html>
