<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="zh" class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title>DFC</title>
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Loading Bootstrap -->
      <link href="../static/css/jsonedit.css" rel="stylesheet">
      <link type="text/css" rel="stylesheet" href="../static/css/bootstrap.css" >
      <link type="text/css" rel="stylesheet" href="../static/css/bootstrap-tagsinput.css" >
      <link rel="stylesheet" type="text/css" href="../static/css/jquery.multiselect.css" />
      <link rel="stylesheet" type="text/css" href="../static/css/jquery.multiselect.filter.css" />
      <link rel="stylesheet" href="../static/css/style.css" media="screen" type="text/css" />

      <link rel="stylesheet" href="../static/css/BootSideMenu.css">
      <link rel="stylesheet" href="../static/css/BootDefault.css">

      <link rel="stylesheet" type="text/css" href="../static/css/jquery-ui.css" />

      <link rel="stylesheet" href="../static/css/amazeui.css">
      <link rel="stylesheet" href="../static/css/SignalSystem.css">


      <link rel="stylesheet" href="../static/css/chrome-tabs.css">
      <link rel="stylesheet" href="../static/css/chrome-tabs-dark-theme.css">

      <link rel="stylesheet" href="../static/css/customtooltip.css">

      <link data-jsfiddle="common" rel="stylesheet" media="screen" href="../static/dist/handsontable.css">
      <link data-jsfiddle="common" rel="stylesheet" media="screen" href="../static/dist/pikaday/pikaday.css">
      <link rel="stylesheet" type="text/css" href="../static/css/context.standalone.css">

      <link href="../static/css/mbExtruder.css" media="all" rel="stylesheet" type="text/css">

      <script type="text/javascript" src="../static/js/baseFunctions.js"></script>
      <script src="../static/js/amazeui.js"></script>
      <script src="../static/js/tree.js"></script>
      <script src="../static/js/Automaton.js"></script>
      <script src="../static/js/dropzone.js"></script>
      <script type="text/javascript" src="../static/js/jquery.min.js"></script>
      <script type="text/javascript" src="../static/js/bootstrap.js"></script>
      <script type="text/javascript" src="../static/js/bootstrap-tagsinput.js"></script>
      <script type="text/javascript" src="../static/js/jquery-ui.js"></script>
      <script type="text/javascript" src="../static/js/jquery.multiselect.js"></script>
      <script type="text/javascript" src="../static/js/jquery.multiselect.filter.js"></script>
      <script type="text/javascript" src="../static/js/jquery.tips.js"></script>
      <script type="text/javascript" src="../static/js/moment.js"></script>
      <script type="text/javascript" src="../static/js/jsoncsv.editor.js"></script>
      <script type="text/javascript" src="../static/js/handsonTblComponents.js" ></script>
      <script data-jsfiddle="common" src="../static/dist/pikaday/pikaday.js"></script>
      <script data-jsfiddle="common" src="../static/dist/moment/moment.js"></script>
      <script data-jsfiddle="common" src="../static/dist/zeroclipboard/ZeroClipboard.js"></script>
      <script data-jsfiddle="common" src="../static/dist/numbro/numbro.js"></script>
      <script data-jsfiddle="common" src="../static/dist/numbro/languages.js"></script>
      <script data-jsfiddle="common" src="../static/dist/handsontable.js"></script>
      <script type="text/javascript" src="../static/js/bootstrap-treeview.js"></script>
      <script type="text/javascript" src="../static/js/bootstrap-treeview.js"></script>
      <script type="text/javascript" src="../static/js/mvc/MVC.js"></script>
      <script type="text/javascript" src="../static/js/jquery.hoverIntent.min.js"></script>
      <script type="text/javascript" src="../static/js/jquery.mb.flipText.js"></script>
      <script type="text/javascript" src="../static/js/mbExtruder.js"></script>
      <script src="../static/js/context.js"></script>
  </head>
<style>
    span.glyphicon-remove-sign:hover{
        color: #00a1cb;
        font-size: large;
    }

</style>
  <body class="am-with-topbar-fixed-top"  style="background-color: #f2f2f2;height: 100%;overflow: hidden">
  <div class="am-g">
      <div class="am-u-sm-2 LeftMenu">
          <div style="min-height: 800px">
          <div class="form-group" style="height: 55px;position: relative" >
              <label >Search Tree:</label>
              <input type="text" class="form-control" id="input-search" placeholder="Type to search..." value="">
              <span class="glyphicon glyphicon-remove-sign" id="clear-search" style="cursor: pointer;position: absolute;right: 5px;top: 40px"></span>
          </div>
          <div class="checkbox">
              <label>
                <input type="checkbox" class="checkbox" id="chk-ignore-case" value="false">
                Ignore Case
              </label>
              <label>
                  <input type="checkbox" class="checkbox" id="chk-exact-match" value="false">
                  Exact Match
              </label>
          </div>
         <!--<button type="button" class="btn btn-default" id="btn-clear-search">Clear</button>!-->
          <div id="left-collection-tree" style="margin-top: 20px"></div>
              <script src="../static/js/left-collection-tree-context.js"></script>
              <script type="text/javascript" src="../static/js/left-tree-structure.js"></script>
          </div>
      </div>
      <div class="am-u-sm-10 RightArea" style="height: 800px">
          <button class="sendCollectionData" style="position: absolute;right: 10px;width: 60px">
              <span class="glyphicon glyphicon-send"></span>
          </button>
          <script>
              $(".sendCollectionData").on("click",function () {
                  var $activeTab = $("li.tabBlock-tab.is-active");
                  var tabId = $activeTab.attr("tabblock-id");
                  var tmplName = $activeTab.attr("tabblock-tmpl-name");
                  var version = $activeTab.attr("tabblock-tmpl-version");
                  var category = $activeTab.attr("tabblock-tmpl-category");
                  var datalist = configureObjectContext.getCollectionData(tabId);
                  var collectionName = $activeTab.find("span.tabBlock-tab-name").text();
                  var leftTree = $("#left-collection-tree");
                  var curtDate = moment().format('YYYYMMDD');
                  leftTree.treeview("insetColFromTbl",[datalist,curtDate,version,category,tmplName,collectionName]);
              });
          </script>
          <div style="clear:both;width:95%">
              <figure class="tabBlock">
                  <ul class="tabBlock-tabs"></ul>
                  <div class="tabBlock-content" style="background-color: #f2f2f2"></div>
              </figure>
              <script>
                  $.ajax("/templates", {
                      dataType: 'json'
                  }).done(function (data) {
                      var templateNameList = [],templ;
                      for(templ in data){
                          templateNameList.push({
                              text:templ,
                              action:function (event) {
                                  var $activeTab = $("li.tabBlock-tab.is-active");
                                  var tabName = $activeTab.attr("tabblock-id");
                                  configureObjectContext.init({
                                      tabName:tabName,
                                      templateData:JSON.parse(JSON.stringify(data[event.target.text])),
                                      selectedTemplate:event.target.text
                                  });
                                  $activeTab.addClass(event.target.text);
                                  $activeTab.attr("tabblock-tmpl-name",event.target.text);
                                  $activeTab.attr("tabblock-tmpl-category",data[event.target.text][event.target.text].Category);
                                  $activeTab.attr("tabblock-tmpl-version", "version0.1");//data[event.target.text][event.target.text].Version);
                                  configureObjectContext.create();
                                  configureObjectContext.setting({data:null});
                              }
                          });
                      }
                      context.init({preventDoubleContext: false});
                      context.settings({compress: true, contextMenu: "click"});
                      context.attach('#tabBlock-tab-plus', [
                          {header: 'operating'},
                          {
                              text: 'add collection', nodes:templateNameList
                          }
                      ]);
                  }).fail(function (xhr, status) {
                      alert("Failed: {0}\n Reason: {1}\n".format(xhr.status, status));
                  });
              </script>
              <script src="../static/js/tabnavigator.js"></script>
          </div>
      </div>
      <div id="jsonlog-right" style="min-width: 600px;" ></div>
      <script src="../static/js/BootSideMenu.js"></script>
      <script type="text/javascript">
          $(document).ready(function(){
              $('#jsonlog-right').BootSideMenu({side:"right", autoClose:false});
          });
      </script>
  </div>
  <div id="popupContainer" style="display: none">
      <table width="" border="0" cellspacing="0" cellpadding="0" align="center" class="popupPopup">
          <tr>
              <td class="corner topLeft"></td>
              <td class="top"></td>
              <td class="corner topRight"></td>
          </tr>
          <tr>
              <td class="left">&nbsp;</td>
              <td><div id="popupContent"></div></td>
              <td class="right">&nbsp;</td>
          </tr>
          <tr>
              <td class="corner bottomLeft">&nbsp;</td>
              <td class="bottom">&nbsp;</td>
              <td class="corner bottomRight"></td>
          </tr>
      </table>
  </div>

  </body>
</html>
